/*;=============================================   
; Author           :  Global Software's    
; Create date      :  01/12/2025    
; Create By        :  ASLAM  
; Description      :  PCS DELETE PROCEDURE
; Change Person    :  ASLAM
; Last Change Date :  06/12/2025 10.35 AM 
; =============================================  */  

CREATE PROCEDURE PROC_Stock_PiecesDelivery_Update_LineStk (@ID Int,@StyleNo Varchar(20),@PartId int,@ColId Int,@SizeId Int,@SourceStageID Int,@Pcs Int,@LotNo Varchar(15),@SrcLineID int) 

AS  DECLARE @Coycode Int,@Ordid Int,@StageId Int,@GodId Int,@StockQty Int,@FinalStage Char(1),@SeqNo int,@PartyId Int,@PcsStockId Int ,@OldId Int,@OldCoycode Int,@OldOrdid Int,@OldStyleNo Varchar(20),@OldStageId Int,@OldPartId Int,@OldGodId Int,@OldColId 
Int,@OldSizeId Int,@OldStockQty Int,@OldSourceStageId Int,@OldFinalStage Char(1),@OldSeqNo int,@OldPartyId Int,@OldPcsStockId Int,@ProcessType Char(1),@RejectionTypeId Int ,@OldDelType as Varchar(30),@FinishedStageId int ,@OldBuyerId int  ,@LotId Int   ,@Prod_Without_Lot_Despatch_WithLot as char(1), @LotwiseStockReqd   char(1)   ,@GAN_PCS Char(1)  ,@Knit_Woven_Both_OrderType as char(1), @GAN_RewrkFlg Char(1) ='N'

SELECT @LotwiseStockReqd = isNull(LotwiseStockReqd,'Y') from Options   
SELECT @Prod_Without_Lot_Despatch_WithLot = isNull(Prod_Without_Lot_Despatch_WithLot,'Y') from Options1    
Select @OldId=@Id    
Select @OldCoycode = Coycode From Trs_Pcs1 Where Id=@OldId     
select @OldPartyId = Party From Trs_Pcs1 Where Id=@OldId     
SELECT @OldOrdid = Ordjobno From Trs_Pcs1 Where Id=@OldId     
SELECT @LotwiseStockReqd = isNull(LotwiseStock,'Y') from Ordermas2 where Ordid=@OldOrdid  
SELECT @OldStageid = TargetStageId From Trs_Pcs1 Where Id=@OldId     
SELECT @OldGodId = GodId From Trs_Pcs1 Where Id=@OldId     
SELECT @ProcessType = ProcessType from trs_pcs1 where id=@oldid     
SELECT @RejectionTypeId = RejectionTypeId from trs_pcs1 where id=@oldid    
Select @OldSeqNo = SeqNo From Prod_Sequence Where Prod_Sequence.OrdId=@OrdId And Prod_Sequence.StyleNo=@StyleNo And Prod_Sequence.StageId=@StageId      SELECT @OldFinalStage = Mas_Dept.SemiFinish From Trs_Pcs1 Inner Join Mas_JobWrkComp On Trs_Pcs1.TargetStageID=Mas_JobWrkComp.Id Inner Join
 Mas_Dept On Mas_JobWrkComp.DeptId=Mas_Dept.DeptId Where Trs_Pcs1.Id=@OldId      
 
SELECT @OldStyleNo = @StyleNo     
SELECT @OldColId = @ColId     
SELECT @OldSizeId = @SizeId    
SELECT @OldPartId = @PartId    
Select @OldSourceStageId = @SourceStageID    
SELECT @OldStockQty = Pcs from trs_Pcs2 where Id = @ID and StyleNo = @StyleNo And colId = @ColId and  PartId = @PartID And SizeID = @SizeId And LotNo= @LotNo    
SELECT @OldDelType = DelType From Trs_Pcs1 Where Id=@OldId      
SELECT @OldBuyerId = Buyer From Trs_Pcs1 Where Id=@OldId       
SELECT @GAN_PCS = IsNull(GRNAcceptance_Pcs,'N') from Options
SELECT @Knit_Woven_Both_OrderType = IsNull(Knit_Woven_Both_OrderType,'K') From OrderMas Where ORdid = @OldOrdid 
if @GAN_PCS ='Y' and @Knit_Woven_Both_OrderType ='W' and @ProcessType ='R'
BEGIN
	SET @GAN_RewrkFlg ='Y'
END
if @OldDelType ='Sales'	    
begin  
SELECT @FinishedStageID = @OldSourceStageId     
SELECT @OldBuyerId = 1    
end  
else 		   
begin  
SELECT  @FinishedStageID = -3     
SELECT @OldBuyerId = Buyer From Trs_Pcs1 Where Id=@OldId    
 end   
  
if ltrim(@LotNo)<>''   	  
 
SELECT @LotID = LotSno from mas_Lot where LotName =LTrim(@LotNo)     
 
else   	  
 
SELECT @LotId = 0     
 
if Rtrim(@LotwiseStockReqd) ='N' And RTrim(@Prod_Without_Lot_Despatch_WithLot)='Y'    
 
BEGIN     
 
SELECT @LotId = 0     

END     
Begin       
if @OldBuyerid >0 and (@OldDelType='Despatch' or @OldDelType ='Sales')  
     
Begin  /*Insert into tmp_trg Values ('Despatch Update1 + ' + str(@OldstockQty))   Insert into tmp_trg Values ('OldCoycode + ' + str(@OldCoycode))   Insert into tmp_trg Values ('Oldpart + ' + str(@Oldpartid))   Insert into tmp_trg Values ('Stage + ' + str(


@FinishedStageId))   Insert into tmp_trg Values ('OldColid + ' + str(@OldColId)) */     

print 'x1'
Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty+@OldStockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode
=@Oldcoycode and Ordid=@OldOrdid and StyleNo=@OldStyleNo and LotId = @LotID and Stageid=@FinishedStageId and PartId=@OldPartId and GodId=@OldGodId and PartyId=0 and Pcs_StockTableQty.ColId=@OldColid and Pcs_StockTableQty.SizeId=@OldSizeId and IsNull(GoodPcsFlag,'G')='G' and IsNull(RejectionTypeId,0)=0 And ISNULL(Pcs_StockTable.EmpID,0)  = 0    
End       

If (Select IsNull(PcsType,'Piece') From Mas_JobWrkComp Where Id=@OldStageId)='Piece' Or (@OldStageid=@OldSourceStageid)   or (Select Rtrim(IsNull(PcsType,'Piece')) From Mas_JobWrkComp Where Id=@OldStageId)='Bit'     


Begin  

if @GAN_RewrkFlg ='Y'
begin
print 'x2'
Update Pcs_StockTableQty Set Pcs_StockTableQty.RewrkStk=isnull(Pcs_StockTableQty.RewrkStk,0)+@OldStockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@Oldcoycode and Ordid=@OldOrdid and StyleNo=@OldStyleNo and LotId = @LotID and Stageid=@OldSourceStageid and PartId=@OldPartId and GodId=@OldGodId and PartyId=0 and Pcs_StockTableQty.ColId=@OldColid and Pcs_StockTableQty.SizeId=@OldSizeId and IsNull(GoodPcsFlag,'G')='G' and IsNull(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else @RejectionTypeId End  And ISNULL(Pcs_StockTable.EmpID,0)  = @SrcLineID 

end
ELSE

begin       

print 'x3'
print @OldStockQty
print @OldSourceStageid
Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty+@OldStockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@Oldcoycode and Ordid=@OldOrdid and StyleNo=@OldStyleNo and LotId = @LotID and Stageid=@OldSourceStageid and PartId=@OldPartId and GodId=@OldGodId and PartyId=0 and Pcs_StockTableQty.ColId=@OldColid and Pcs_StockTableQty.SizeId=@OldSizeId and IsNull(GoodPcsFlag,'G')=Case When @ProcessType='P' Then 'G' Else 'M' End and IsNull(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else @RejectionTypeId End  And ISNULL(Pcs_StockTable.EmpID,0)  = @SrcLineID 

end
End          
if @OldDelType <> 'JobWork Return'       
begin   	 
print 'x4'
print @OldStageID
Print @OldStockQty

Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty-@OldStockQty From  Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@Oldcoycode and Ordid=@OldOrdid and StyleNo=@OldStyleNo and LotId = @LotID  
and Stageid=@OldStageId and PartId=@OldPartId and GodId=@OldGodId and PartyId=@OldPartyId and Pcs_StockTableQty.ColId=@OldColid and Pcs_StockTableQty.SizeId=@OldSizeId and IsNull(GoodPcsFlag,'G')=Case When @ProcessType='P' Then 'G' Else 'M' End and IsNull
(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else @RejectionTypeId End  And ISNULL(Pcs_StockTable.EmpID,0)  = 0     
end  
End          
Select @Coycode = Coycode From Trs_Pcs1 Where Id=@Id        
select @PartyId = Party From Trs_Pcs1 Where Id=@Id          
SELECT @Ordid = Ordjobno From Trs_Pcs1 Where Id=@Id          
SELECT @Stageid = TargetStageId From Trs_Pcs1 Where Id=@Id           

SELECT @GodId = GodId From Trs_Pcs1 Where Id=@Id          

Select @SeqNo = SeqNo From Prod_Sequence Where Prod_Sequence.OrdId=@Ordid And Prod_Sequence.StyleNo=@StyleNo And Prod_Sequence.StageId=@StageId  SELECT @FinalStage = Mas_Dept.SemiFinish From Trs_Pcs1 Inner Join Mas_JobWrkComp On Trs_Pcs1.TargetStageId=Mas_JobWrkComp.Id Inner Join Mas_Dept On Mas_JobWrkComp.DeptId=Mas_Dept.DeptId Where Trs_Pcs1.Id=@Id 

Select @SourceStageId = @SourceStageId         
SELECT @StockQty = @Pcs        
begin          
if @OldDelType <> 'JobWork Return'     
BEGIN     
print 'x5'
print @StageID
Print @StockQty

Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty+@StockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@coycode and Ordid=@Ordid and StyleNo=@StyleNo and LotId = @LotID  and Stageid=@Stageid and PartId=@PartId and GodId=@GodId and PartyId=@PartyId and Pcs_StockTableQty.ColId=@Colid and Pcs_StockTableQty.SizeId=@SizeId and IsNull(GoodPcsFlag,'G')=Case When @ProcessType='P' Then 'G' Else 'M' End and IsNull(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else  @RejectionTypeId End  And ISNULL(Pcs_StockTable.EmpID,0)  = 0

END    

If (Select IsNull(PcsType,'Piece') From Mas_JobWrkComp Where Id=@StageId)='Piece' Or (@Stageid=@SourceStageid)   or (Select Rtrim(IsNull(PcsType,'Piece')) From Mas_JobWrkComp Where Id=@StageId)='Bit'    
Begin     

if @GAN_RewrkFlg ='Y'
begin
print 'x6'
Update Pcs_StockTableQty Set Pcs_StockTableQty.RewrkStk=isNull(Pcs_StockTableQty.RewrkStk,0)-@StockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@coycode and Ordid=@Ordid and StyleNo=@StyleNo and LotId = @LotID  and Stageid=@SourceStageId and PartId=@PartId and GodId=@GodId and PartyId=0 and Pcs_StockTableQty.ColId=@Colid and Pcs_StockTableQty.SizeId=@SizeId and IsNull(GoodPcsFlag,'G')='G' and IsNull(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else @RejectionTypeId End    And ISNULL(Pcs_StockTable.EmpID,0)  = @SrcLineID    

END 

ELSE 
BEGIN
print 'x7'
print @SourceStageID 
Print @StockQty

Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty-@StockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@coycode and Ordid=@Ordid and StyleNo=@StyleNo and LotId = @LotID  and Stageid=@SourceStageId and PartId=@PartId and GodId=@GodId and PartyId=0 and Pcs_StockTableQty.ColId=@Colid and Pcs_StockTableQty.SizeId=@SizeId and IsNull(GoodPcsFlag,'G')=Case When @ProcessType='P' Then 'G' Else 'M' End and
 IsNull(RejectionTypeId,0)=Case When @ProcessType='P' Then 0 Else @RejectionTypeId End     And ISNULL(Pcs_StockTable.EmpID,0)  = @SrcLineID   

END 
End        
if @OldBuyerid >0 and (@OldDelType='Despatch'   or @OldDelType ='Sales')   
Begin    /*Insert into tmp_trg Values ('Despatch Update2 - ' + str(@stockQty))*/       
print 'x8'
Update Pcs_StockTableQty Set Pcs_StockTableQty.StockQty=Pcs_StockTableQty.StockQty-@StockQty From Pcs_StockTableQty Inner Join Pcs_StockTable On Pcs_StockTable.PcsStockId=Pcs_StockTableQty.PcsStockId where coycode=@coycode and Ordid=@Ordid and StyleNo=@StyleNo and LotId = @LotID and Stageid=@FinishedStageId and PartId=@PartId and GodId=@GodId and PartyId=0 and Pcs_StockTableQty.ColId=@Colid and Pcs_StockTableQty.SizeId=@SizeId and IsNull(GoodPcsFlag,'G')='G' and IsNull(RejectionTypeId,0)=0  And ISNULL(Pcs_StockTable.EmpID,0)  = 0          

End        
End 