/*
;=============================================
; Author		:		Global Software's
; Create date		:		20/12/2022
; Create By		:		ASLAM
; Description		:		QRY
; Change Person		:		ASLAM
; Last Change Date	:		20/12/2022 10.00 AM
; =============================================	
*/
CREATE PROCEDURE SP_Qry7 (@Coycode int)
AS 
BEGIN
 SELECT DISTINCT Trs_Del2.StyleNo,Isnull (Trs_Del2.StyleNo,'') as StyleNo1 FROM dbo.Trs_Del1 INNER JOIN dbo.Trs_Del2 ON dbo.Trs_Del1.ID = dbo.Trs_Del2.ID INNER JOIN dbo.StockTable ON dbo.Trs_Del2.StockID = dbo.StockTable.StockID inner join Mas_AccDes on Mas_AccDes.AccTypeID=StockTable.Atype inner join Mas_Acc on Mas_AccDes.ID=Mas_Acc.ID INNER JOIN dbo.Mas_Uom ON Mas_Acc.UomID = dbo.Mas_Uom.UomID INNER JOIN dbo.OrderMas ON dbo.Trs_Del2.OrdId = dbo.OrderMas.OrdId INNER JOIN dbo.Mas_Exporter ON dbo.Trs_Del1.Coycode = dbo.Mas_Exporter.ExpID LEFT OUTER JOIN dbo.Mas_Color ON dbo.StockTable.ColID = dbo.Mas_Color.ColID  WHERE (dbo.Trs_Del1.TrType = -1)  AND (dbo.StockTable.Coycode = @coycode ) and Trs_Del2.StyleNo is not null and trs_del2.StyleNo <> '' order by 1 
END
