/*
;=============================================
; Author		:		Global Software's
; Create date		:		18/07/2022
; Create By		:		ASLAM
; Description		:		BILL REGISTER EXCEL QUERY
; Change Person		:		
; Last Change Date	:		18/07/2022
; =============================================	
*/
CREATE PROCEDURE SP_BillsRegView_prd @coycode int,@Deptid int,@FromDt Date,@ToDate Date
AS 
SELECT Mas_Color.ColorDesc,Trs_Bills.Party as  Suppid,Trs_BillRate.Rate, case when  SUM(Isnull(Trs_BillRate.Mtr,0))=0 then SUM(Isnull(Trs_BillRate.Kgs,0)) else SUM(Isnull(Trs_BillRate.mtr,0))end as kgs, SUM(Isnull(Trs_BillRate.NetAmount,0)) as NetAmount, SUM(isnull(Trs_BillRate.Amount,0)) GrossAmount,  Trs_Bills.PassFlg,Trs_Bills.BillNo, Trs_Bills.Billdt,Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as CGSTAmt,Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as SGSTAmt,Case When IsNull(Mas_Party.Stateid,0)<>IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt) ELSE 0 End as IGSTAmt,Trs_Bills.Type,0 as CGSTAmt1, 0 as SGSTAmt1,0 as IGStAmt1 , 0 as TcsAmt,0 as OthersAmt,brno,finyear,brdt  FROM Trs_Bills INNER JOIN Trs_BillRate ON Trs_Bills.ID = Trs_BillRate.ID  INNER JOIN Mas_Party ON Mas_Party.PID=Trs_Bills.party INNER JOIN Mas_Exporter ON Mas_Exporter.Expid=Trs_Bills.Coycode LEFT OUTER JOIN Mas_Color ON Trs_BillRate.ColId = Mas_Color.ColID inner join Mas_JobWrkComp  on Mas_JobWrkComp.Id=trs_billrate.Dept INNER JOIN Mas_Dept ON Mas_Dept.DeptID=Mas_JobWrkComp.DeptId  WHERE Trs_Bills.Coycode= @Coycode  and Mas_dept.Deptid =@Deptid  and type='pp' GROUP BY Mas_Color.ColorDesc, Trs_Bills.PassFlg,Trs_Bills.Party,Trs_BillRate.Rate,Trs_Bills.BillNo, Trs_Bills.Billdt,Mas_Party.Stateid,Mas_Exporter.Stateid,Trs_Bills.Type,brno,finyear,brdt  UNION ALL select  ColorDesc,Empid   as Suppid, b.Rate ,sum(ThisBillQty) as Kgs ,case when x.taxper<>0 then ((sum(ThisBillQty) * b.Rate)*(x.taxper/100)+(sum(ThisBillQty) * b.Rate)) else (sum(ThisBillQty) * b.Rate) end as NetAmount,(sum(ThisBillQty) * b.Rate) as GrossAmount,isnull(PassFlg ,'N')PassFlg,billno,brdt billdt,0 CGSTAmt ,0 SGSTAmt,0 IGSTAmt,'Production' as Type,0 as CGSTAmt1, 0 as SGSTAmt1,0 as IGStAmt1 , 0 as TcsAmt, 0 as OthersAmt,a.brno,a.finyear,a.brdt from Trs_ProdBillMasNew a inner join Trs_ProdBillDetNew  b on a.ID=b.ID Left join (select id,sum(Value) taxper from Trs_prodBillAddded1 where Adddedcode in(40,41,42) group by id)x on a.id=x.id inner join Mas_Color on Mas_Color.ColID=b.Colorid inner join Mas_JobWrkComp  on Mas_JobWrkComp.Id=b.StageID INNER JOIN Mas_Dept ON Mas_Dept.DeptID=Mas_JobWrkComp.DeptId  WHERE Mas_Dept.DeptID = @Deptid and  a.Coycode = @coycode And Brdt>=@FromDt and Brdt<=@ToDate group by  ColorDesc,Empid,b.Rate ,taxper,PassFlg,billno,a.brno,a.finyear,a.brdt