/*
;=============================================
; Author		:		Global Software's
; Create date		:		25/02/2022
; Create By		:		ASLAM
; Description		:		Bundle Barcode Issue
; Change Person		:		ASLAM
; Last Change Date	:		26/02/2022 11:00
; =============================================	
*/

CREATE PROCEDURE SP_BundleBarcode_Check (@NewFlg as Char(1), @Barcode Varchar(30), @Coycode int,@ProdDB Varchar(100),@LineID int,@StageID int,@prodDate Date,@finyear Char(2),@HrsId int,@TimeRangeId int,@RejectionFlg Char(1), @Msg Varchar(max) OUTPUT,@ValidFlg Varchar(Max) OUTPUT) AS

DECLARE @Valid AS CHAR(1) ='N' ,@LineFeed Char(1) = 'N' ,@Completed Char(1) = 'N'
DECLARE @ID INT,@BundleMasID Int,@BundleID Int

SET @Msg =''
IF (Select Count(1) from Pay_BarcodeGeneration Where BArcode = @Barcode) > 0 
	SET @Valid ='Y'
ELSE
	SET @Valid ='N'

If @Valid ='Y'
BEGIN
  IF (Select Count(1) from Pay_Bundle_IsstoLine Where Barcode = @Barcode) > 0
	 SET @LineFeed = 'Y'

  IF (Select Count(1) from Pay_BarcodeGeneration Where Barcode = @Barcode and IsNull(Completed,'N') = 'Y' ) >= 1 
	 SET @Completed ='Y'
END

	IF (Select Count(1) From Pay_BarcodeGeneration Where BarCode= @Barcode  and Coycode=@Coycode) = 0
		SET @Valid = 'N'


IF @Valid = 'N'
BEGIN
 SELECT  @Msg ='INVALID TAG'
 SELECT  @ValidFlg ='INVALID'
END
IF @Valid = 'Y'
BEGIN
	IF @LineFeed='Y'
		SELECT  @Msg ='INVALID!!! ALREADY ISSUED TO LINE'  
	
	IF @Completed ='Y'
		SELECT  @Msg ='INVALID!!! BUNDLE COMPLETED'  


	IF @Msg ='' 
	SET @Msg =''
	SELECT  @ValidFlg ='VALID'



	IF @NewFlg='Y'
	BEGIN
	 SELECT @ID = ISNULL(MAX(ID), 0) + 1  from Pay_Bundle_IsstoLine

	 SELECT @BundleMasID = BundleMasID from Pay_BarcodeGeneration WHERE Barcode = @Barcode
	 SELECT @BundleID = BundleID From Pay_BarcodeGeneration WHERE Barcode = @Barcode

	 Delete from Pay_Bundle_IsstoLine Where ID =@ID
	 If (Select count(*) From Pay_Bundle_IsstoLine Where Barcode=@Barcode and BundleMasID=@BundleMasID and BundleID=@BundleID) = 0 
	 BEGIN
	       Insert Into Pay_Bundle_IsstoLine (ID , IssDt ,BundleMasID , BundleID , LineID , Barcode ) Values (@ID,GETDATE(),@BundleMasID,@BundleID,@LineID,@Barcode)

		   Update Pay_BarcodeGeneration SET LineID = @LineId,LineIssDt=GETDATE() WHERE BundleMasID=@BundleMasId and BundleId = @BundleID and Barcode = @Barcode and LineId is null

           Update Pay_CuttProd_Bundle SET LineID = @LineId,LineIssDt=GETDATE() WHERE ID=@BundleMasId and BundleId = @BundleID and LineId is Null

		   Update Fiber_production..Pay_BundlePcs_Barcode SET Pcs_Status = 'U' WHERE BundleMasID = @BundleMasId And BundleId = @BundleId 
	 END

	END

END

/*
DECLARE @MSG  varchar(200)
DECLaRE @Valid1 Varchar(100)
execute  SP_BundleBarcode_Check 'Y','(21000001)',3,'',62, @MSG OUT,@Valid1 OUT

print @MSG
print @Valid1
*/
