/*
;=============================================
; Author		:		Global Software's
; Create date		:		18/07/2022
; Create By		:		ASLAM
; Description		:		BILL REGISTER EXCEL QUERY
; Change Person		:		
; Last Change Date	:		18/07/2022
; =============================================	
*/
CREATE PROCEDURE SP_BillsRegView_fab1 @coycode int,@Deptid int,@FromDt Date,@ToDate Date
AS
SELECT  Mas_Color.ColorDesc,Trs_Bills.Party as Suppid, SUM(Trs_BillRate.Kgs) as Kgs, Trs_BillRate.Rate, SUM(Isnull(Trs_BillRate.NetAmount,0)) as NetAmount, SUM(isnull(Trs_BillRate.Amount,0)) GrossAmount,  Trs_Bills.PassFlg, Mas_Fabric.Fabdesc,Trs_Bills.BillNo, Trs_Bills.Billdt,  Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as CGSTAmt,Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as SGSTAmt,Case When IsNull(Mas_Party.Stateid,0)<>IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt) ELSE 0 End as IGSTAmt,Trs_Bills.Type,  Case When Sum(Trs_BillRate.TaxAmt) =0 AND (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0))) > 0 THEN  Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0)))/2 ELSE 0 END ELSE 0 END as CGSTAmt1, Case When Sum(Trs_BillRate.TaxAmt) =0 AND (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0))) > 0 THEN   Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0)))/2 ELSE 0 END ELSE 0 END as SGSTAmt1, Case When Sum(Trs_BillRate.TaxAmt) =0 AND (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0))) > 0 THEN  Case When IsNull(Mas_Party.Stateid,0)<>IsNull(Mas_Exporter.Stateid,0) Then (SUM(Isnull(Trs_BillRate.NetAmount,0)) -  SUM(isnull(Trs_BillRate.Amount,0))) ELSE 0 End ELSE 0 END AS IGSTAmt1 ,case when x4.OrdCnt > 1 then IsNull(x1.TcsAmt,0) / x4.OrdCnt ELSE IsNull(x1.TcsAmt,0) END as TcsAmt, case when x4.OrdCnt >1 then IsNull(x2.OthersAmt,0) / x4.OrdCnt ELSE IsNull(x2.Othersamt,0)  END as OthersAmt,brno,finyear,brdt FROM Trs_Bills INNER JOIN Trs_BillRate ON Trs_Bills.ID = Trs_BillRate.ID INNER JOIN Mas_Party ON Mas_Party.PID=Trs_Bills.party INNER JOIN Mas_Exporter ON Mas_Exporter.Expid=Trs_Bills.Coycode   INNER JOIN Mas_Fabric ON Trs_BillRate.Fabid = Mas_Fabric.FabID LEFT OUTER JOIN Mas_Color ON Trs_BillRate.ColId = Mas_Color.ColID  LEFT JOIN (Select grp,ID,isNull(Sum(PartyAmt),0) as GSTAmt From Trs_BillAddded A1 INNER JOIN Mas_AddDed ON a1.Adddedcode = Mas_AddDed.AddDedCode  WHERE AddDedName like '%GST%' GROUP BY GRP,ID) X ON Trs_Bills.Id = X.Id and Trs_Bills.Grpcode = X.Grp  LEFT JOIN (Select grp,ID,isNull(Sum(PartyAmt),0) as TCSAmt From Trs_BillAddded A1 INNER JOIN Mas_AddDed ON a1.Adddedcode = Mas_AddDed.AddDedCode  WHERE AddDedName like '%TCS%' GROUP BY GRP,ID) X1 ON Trs_Bills.Id = X1.Id and Trs_Bills.Grpcode = X1.Grp  LEFT JOIN (Select grp,ID,isNull(Sum(PartyAmt),0) as OthersAmt From Trs_BillAddded A1 INNER JOIN Mas_AddDed ON a1.Adddedcode = Mas_AddDed.AddDedCode  WHERE Mas_AddDed.AddDedCode not in (1,2,40,41,42,21,22,9,14) and Mas_AddDed.AddDedName Not like '%GST%' and Mas_AddDed.AddDedName Not like '%TCS%'  GROUP BY GRP,ID) X2  ON Trs_Bills.Id = X2.Id and Trs_Bills.Grpcode = X2.Grp  LEFT JOIN (Select a.id, count(distinct Ordid) as OrdCnt from Trs_Bills a inner join Trs_BillRate b on a.id= b.id group by a.id  )  x4 on x4.id = Trs_Bills.id WHERE Trs_Bills.Coycode=@Coycode and Trs_Billrate.Dept =@DeptId And Brdt>=@FromDt and Brdt<=@ToDate GROUP BY Mas_Color.ColorDesc,Trs_BillRate.Rate, Trs_Bills.PassFlg, Mas_Fabric.Fabdesc,Trs_Bills.Party,Trs_Bills.BillNo, Trs_Bills.Billdt,Mas_Party.Stateid,Mas_Exporter.Stateid,Trs_Bills.Type,x4.OrdCnt,IsNull(x1.TcsAmt,0) , IsNull(x2.Othersamt,0) ,brno,finyear,brdt