/*
;===================================================================
; Author		:		Global Software's
; Create date		:		19/02/2026
; Create By		:		ASLAM
; Description		:		Prod REWORK entry LINEWISE
; Change Person		:		ASLAM
; Last Change Date	:		19/02/2026 10.07 AM
; ===================================================================	
*/
CREATE PROCEDURE Sp_ProductionEntryQty_2 (@Id Int,@SizId Int,@Qty Int)  As  Begin   
DECLARE @StageId Int , @Rework Int ,@SplOperation char(1)  ,@LineOut_Last_StichOpr_as_a_SourceStage Char(1)
SELECT @LineOut_Last_StichOpr_as_a_SourceStage ='Y'
SELECT @SplOperation ='N'
SELECT @StageId  = STAGEID FROM Trs_Prodentry WHERE ID = @ID  SELECT @Rework = Rework FROM Trs_Prodentry WHERE ID = @Id  
SELECT @SplOperation = IsNull(Spl_Operation,'N') FROM Mas_JobWrkComp WHERE ID = @StageId  If (Select Count(Id) From Trs_ProdEntryQty Where  ID = @ID And SizID = @SizID)=0 And @Qty>0   
BegiN      
Insert Into Trs_ProdEntryQty (Id,SizId,ProdPcs) Values (@Id,@SizId,@Qty)   
IF @LineOut_Last_StichOpr_as_a_SourceStage = 'Y' AND @StageId <>1  AND (@Rework = 1) 
BEGIN 	
IF @SplOperation ='N'          	
BEGIN 		
Exec PROC_Stock_ProdPieces_LineOut_PrdEntry_ReWrk @ID,@SizID,@Qty  
Update Trs_ProdEntry Set StockPostingFlg = 'Y' Where Id=@Id      
END  
END   
ELSE  
BEGIN  
IF @SplOperation ='N'          
BEGIN 	
Exec PROC_Stock_ProdPieces @ID,@SizID,@Qty   	
Update Trs_ProdEntry Set StockPostingFlg = 'Y'  Where Id=@Id      
END 
END   
End      
ELSE    
BEGIN    
IF (Select Count(Id) From Trs_ProdEntryQty Where ID = @ID And SizID = @SizID)>0 And @Qty>0       
  Begin        
  IF  @LineOut_Last_StichOpr_as_a_SourceStage = 'Y'   AND @StageId <>1 AND (@Rework = 1)    
  BEGIN  
  IF @SplOperation ='N'          
  BEGIN  
  Exec PROC_Stock_ProdPieces_Update_LineOut_Rewrk  @ID,@SizID,@Qty      
  END 
  Update Trs_ProdEntryQty Set SizId = @SizId ,ProdPcs = @Qty Where Id=@Id And SizId = @SizId     
  END   
 ELSE     
  BEGIN  
  IF @SplOperation ='N'          
  BEGIN  
  Exec PROC_Stock_ProdPieces_Update_LineOut @ID,@SizID,@Qty   
  END  
  Update Trs_ProdEntryQty Set SizId = @SizId ,ProdPcs = @Qty Where Id=@Id And SizId = @SizId    
  END       
  End       
  Else        
  Begin  	   
  IF @LineOut_Last_StichOpr_as_a_SourceStage = 'Y' AND @StageId <>1  AND (@Rework = 1) 	   
  BEGIN  
  IF @SplOperation ='N'   
         BEGIN 
		 Exec PROC_Stock_ProdPieces_Delete_LineOut_PrdEntry_Rewrk @Id,@SizId,0   	   
		 END   
		 Delete From Trs_ProdEntryQty Where Id=@Id And SizId=@SizId     	   
		 END  	  
		 ELSE  	  
		 BEGIN  	  
		 IF @SplOperation ='N'  
			BEGIN  
    		Exec PROC_Stock_ProdPieces_Delete_LineOut_PrdEntry_Rewrk @Id,@SizId,0   	
		  END 
		  Delete From Trs_ProdEntryQty Where Id=@Id And SizId=@SizId    	   
		  END     
		  End    
		  END    
		  End 