 

/*;=============================================   

; Author           :  Global Software's    

; Create date      :  04/07/2012

; Create By        :  ASLAM  

; Description      :  PCS VALUE CALCULATION 

; Change Person    :  ASLAM

; Last Change Date :  01/10/2024 10.00 AM 

; =============================================  */  

CREATE PROCEDURE SP_PcsValue_NEW(@Ordid nvarChar(max), @IpAddress Varchar(50),@DbNAme as Varchar(50)) AS




BEGIN



DECLARE @CumBudRate Numeric(18,2),@CumBillRate Numeric(18,2)



DECLARE @StrOrdID INT, @StrStyleNo Varchar(40)



DELETE FROM TmpOrderDet



DECLARE @Coycode int,@OrdID_1 Int,@Styleno Varchar(40),@DeptID int,@DeptSlno int



DECLARE @CutGrmmageKgs Numeric(18,3),@BudValue_Fabric Numeric(18,2),@FabricValue Numeric(18,2)



DECLARE @inhouse_Rate Numeric(18,2),@OutSideRate Numeric(18,2) 



DECLARE @OutPutType Varchar(20), @DeptName Varchar(100),@Dept int



DECLARE @CutPcs int,@OutSideCutPcs Int



DECLARE @PerPcsAccValue Numeric(18,2)



DECLARE @Coycode_2 int,@Party Int,@PartyUnit Char(10),@Atype Int,@Ades Int,@Siz Int,@ColId_2 int, @Iss Numeric(18,3),@StockRate Numeric(18,3)







DECLARE @Coycode_3 int,@Party_3 Int,@PartyUnit_3 Char(10),@Atype_3 Int,@Ades_3 Int,@Siz_3 Int,@ColId_3 int, @Iss_3 Numeric(18,3),@StockRate_3 Numeric(18,3)







 DECLARE @SumAccRate Numeric(18,2) ,@AccRate Numeric(18,2)







/* #BaseTable1 Temp Table Creation With Required Columns */







Select Coycode,Ordid,Styleno,DeptID,DeptSlno  INTO #BaseTable1   FROM PcsStockRatePost   order by Ordid,Styleno,DeptSlno







if @Ordid<>''



BEGIN

print 'as'


/*
Delete from PcsStockRatePost Where Ordid in (@Ordid )



            Insert into PcsStockRatePost (Coycode,Ordid,Styleno,DeptId,DeptSlno) Select distinct A.Coycode,A.ordid,A.Styleno,B.StageID,SeqNo  From Temp_PceREg A (Nolock) INNER JOIN Prod_Sequence B (NoLock) ON A.Ordid = B.Ordid and A.Styleno = B.Styleno wHERe A.Ordid in (@Ordid) Order by Ordid,Styleno,SeqNo
			*/

            INSERT INTO #BaseTable1 Select Coycode,Ordid,Styleno,DeptID,DeptSlno from PcsStockRatePost wHERE Ordid in (@Ordid ) Order by Ordid,Styleno,DeptSlno

  Insert into TmpOrderDet (Coycode,Ordid,Styleno,DeptId,DeptSlno) Select Coycode,Ordid,Styleno,DeptID,DeptSlno from PcsStockRatePost wHERE Ordid in (@Ordid ) Order by Ordid,Styleno,DeptSlno
 

END
ELSE
BEGIN
print '333'
  Delete from PcsStockRatePost

  Insert into PcsStockRatePost (Coycode,Ordid,Styleno,DeptId,DeptSlno) Select distinct A.Coycode,A.ordid,A.Styleno,B.StageID,SeqNo  From Temp_PceREg A (Nolock) INNER JOIN Prod_Sequence B (NoLock) ON A.Ordid = B.Ordid and A.Styleno = B.Styleno  Order by Ordid,Styleno,SeqNo

  INSERT INTO #BaseTable1 Select Coycode,Ordid,Styleno,DeptID,DeptSlno from PcsStockRatePost Order by Ordid,Styleno,DeptSlno 


  Insert into TmpOrderDet (Coycode,Ordid,Styleno,DeptId,DeptSlno) Select Coycode,Ordid,Styleno,DeptID,DeptSlno from PcsStockRatePost Order by Ordid,Styleno,DeptSlno


END
SET @CumBudRate = 0 
SET @CumBillRate = 0
 DECLARE Cursor_1 CURSOR FOR      

 
   Select  Coycode,Ordid,Styleno,DeptSlno,DeptID From TmpOrderDet 
  
   OPEN Cursor_1   
   FETCH NEXT FROM Cursor_1 INTO @Coycode,@Ordid_1,@Styleno,@DeptSlno,@DeptID
   WHILE @@FETCH_STATUS = 0       
   BEGIN 
   print '444'
If @StrOrdId <> @OrdID_1 Or @StrStyleno <> @Styleno
	 BEGIN
		SET @CumBudRate = 0 
		SET @CumBillRate = 0
	 END 
	 print  'as122'
        SELECT @CutGrmmageKgs =  IsNull(Sum(X.ProgKgs),0) from ( SELECT A.CompID,SizeID, X.ColID,IsNull(X.CutPlanQty,0) As OrdQty,Case When isnull(WtUOM,0) = 0 then Case When PcsWgt > 0 then ( IsNull(X.CutPlanQty,0) *  Case when ActPcsWgt is null or ActPcsWgt =0 then PcsWgt Else ActPcsWgt End)/1000 Else 0 End Else Case When (PcsWgt) > 0 then  ( IsNull(X.CutPlanQty,0) *  Case when ActPcsWgt is null or ActPcsWgt =0 then PcsWgt Else ActPcsWgt End) * WtUOM  Else 0 End End as  ProgKgs, ( IsNull(X.CutPlanQty,0)  *  Case when ActPcsWgt is null or ActPcsWgt =0 then PcsWgt Else ActPcsWgt End)/1000 ProgKgs1,Case when ActPcsWgt is null or ActPcsWgt =0 then PcsWgt Else ActPcsWgt End PcsWgt from Prog_ClrComb A INNER JOIN Prog_PrsLoss B ON A.ID = B.ID  INNER JOIN Prog_Cns C ON A.Id = C.ID and B.ID = C.ID  INNER JOIN PartDefine D ON A.OrdID = D.OrdID and A.Styleno = D.Styleno And A.CompID = D.CompID And A.CompGrdSlno = D.GRdSlno  INNER JOIN ORderQtyDtl X ON A.OrdId = X.OrdID and A.Styleno = X.Styleno and A.ClrCombID=X.ColId and C.SizID = X.SizeID LEFT OUTER JOIN Prog_Component Y ON A.ID = Y.Sl and A.Ordid = Y.Ordid And A.Styleno = Y.Styleno WHERE A.Ordid= @OrdID_1 And Prs=11 And X.Styleno=@Styleno)X


	SELECT @BudValue_Fabric = ISNULL(SUM(Vue_Rpt_BudAbs.Amount),0)  FROM         dbo.vue_rpt_budabs Vue_Rpt_BudAbs INNER JOIN dbo.OrderMas OrderMas ON Vue_Rpt_BudAbs.OrdId = OrderMas.OrdId LEFT OUTER JOIN dbo.Vue_Rpt_OrdQtywithSaleRate Vue_Rpt_OrdQtywithSaleRate ON Vue_Rpt_BudAbs.OrdId = Vue_Rpt_OrdQtywithSaleRate.OrdID LEFT OUTER JOIN dbo.PRo_BudCommercial PRo_BudCommercial ON Vue_Rpt_BudAbs.OrdId = PRo_BudCommercial.OrdID AND   Vue_Rpt_BudAbs.OrderSno = PRo_BudCommercial.SlNo LEFT OUTER JOIN  dbo.Mas_Dept Mas_Dept ON Vue_Rpt_BudAbs.DeptID = Mas_Dept.DeptID LEFT OUTER JOIN  dbo.Mas_Commercial Mas_Commercial ON PRo_BudCommercial.ComID = Mas_Commercial.ID WHERE     (Vue_Rpt_BudAbs.Amount > 0) AND (Mas_Dept.InputType='Y' or Mas_Dept.OutPutType='F') and Vue_Rpt_BudAbs.ordid=@Ordid_1
	print 'value'
	print @Budvalue_Fabric 
	 If (Select isnull(ExsQty,0) from Vue_Rpt_OrdExcessQty where Ordid= @OrdID_1)  > 0 

	 BEGIN
	 	       SELECT @FabricValue = @BudValue_Fabric / isnull(ExsQty,0) from Vue_Rpt_OrdExcessQty where Ordid=@OrdID_1

	 END

     Else

	 BEGIN

	         SET @FabricValue = 0

	 END
	 print @FabricValue 
	 print @DeptID 
	 If exists (Select ISNull(A.Rate,0) as Rate From Trs_ProdExp A (NoLock) INNER JOIN Mas_JobWrkComp B ON A.WrkID = B.ID Where A.Ordid =@OrdID_1  and A.Styleno=@Styleno and B.DeptId =@DeptID and IsNull(A.Rate,0) > 0 )  

	 BEGIN

			   SELECT @inhouse_Rate = ISNull(Avg(isNull(Trs_ProdExp.Rate,0) + isNull(Trs_ProdExp.AddRate,0)),0) From Trs_ProdEntry A INNER JOIN Trs_ProdEntryQty B ON A.ID = B.ID LEFT OUTER JOIN Trs_ProdExp ON A.ORdid = Trs_ProdExp.Ordid And A.Styleno = Trs_ProdExp


.Styleno And A.StageID = Trs_PRodExp.WrkID  INNER JOIN Mas_JobWrkComp C ON A.StageID = C.ID Where A.Ordid = @OrdID_1 and A.Styleno=@Styleno and C.DeptId =@DeptID
print 'asssss'
print @inhouse_Rate
			   SELECT @OutSideRate = ISNull(Avg(isNull(Trs_ProdExp.JobWrkRate,0) + isNull(Trs_ProdExp.JobWrkAddRate,0)),0) From Trs_PcsGrn1 A INNER JOIN Trs_PcsGrn2 B ON A.ID = B.ID LEFT OUTER JOIN Trs_ProdExp ON A.ORdJob = Trs_ProdExp.Ordid And B.Styleno = Trs_ProdExp.Styleno And A.TargetStageID = Trs_PRodExp.WrkID  INNER JOIN Mas_JobWrkComp C ON A.TargetStageID = C.ID Where A.OrdJob =@OrdID_1 And B.StyleNo = @Styleno And C.DEPTID = @DeptID 

			   SELECT @CumBudRate = @CumBudRate + @inhouse_Rate + @OutSideRate
print '555'
 END 

	 SELECT @OutPutType = ISnull(OutPutType,'') From Mas_Dept A INNER JOIN Mas_JobwrkComp B ON A.DeptID  = B.DeptID  Where B.DeptId=@DeptID 
     SELECT @DeptName = ISnull(DeptName,'') From Mas_Dept Where Deptid=@DeptID
    SET @Dept = @DeptID 


	 SELECT @CumBillRate = @CumBillRate + IsNUll(Sum(ISNull(B.Rate,0)),0) From Trs_Bills A (NoLock) INNER JOIN Trs_BillRate B (NoLock) ON A.ID = B.ID  Where B.Ordid =@OrdID_1 and B.Styleno=@Styleno and B.Dept=@DeptID
 


	  SET @SumAccRate =0 

	  SET @AccRate =0    

      DECLARE Cursor_2 CURSOR FOR      

	 Select A.Coycode,Party,A.PArtyUnit,AType,Ades,Siz,colid,sum(Kg) iss,b.stockrate from Trs_del1 A INNER JOIN Trs_Del2 B ON A.ID = B.ID INNER JOIN STOCKTABLE C ON B.StockId = C.StockId And B.ORdid = C.Ordid where A.prs_Dept=16 and C.YF='A' and b.ordid=@OrdID_1 and B.Styleno=@Styleno  and PartyUnit='U' and TrType=7 group by A.Coycode,PArty,AType,Ades,Siz,colid,b.stockrate,partyunit
	 	    OPEN Cursor_2   
			
		FETCH NEXT FROM Cursor_2 INTO @Coycode_2,@Party,@Partyunit,@Atype,@Ades,@Siz,@ColId_2,@Iss,@StockRate 
		
		WHILE @@FETCH_STATUS = 0       
		BEGIN 



			SELECT @AccRate = @Iss * IsNull(Sum(ISNull(Rate,0)),0) from Trs_Po5 where Ordid=@OrdID_1 and Styleno=@Styleno and Atype=@Atype and Ades=@Ades and Clr=@ColId_2 and Siz=@Siz

			 If @AccRate = 0 

			 BEGIN

                    SELECT @AccRate = @Iss *  IsNull(Sum(ISNull(BudRate,0)),0) from Pro_AccBudRate Where Ordid=@OrdID_1 and Acc_type=@Atype and Acc_desc=@Ades and Clr=@ColId_2 and Siz=@Siz 

             END   

             SET @SumAccRate += @AccRate

			 FETCH NEXT FROM Cursor_2 INTO @Coycode_2,@Party,@Partyunit,@Atype,@Ades,@Siz,@ColId_2,@Iss,@StockRate

		END

		CLOSE Cursor_2 

		DEALLOCATE Cursor_2


      DECLARE Cursor_3 CURSOR FOR      

	 Select A.Coycode,Party,A.PArtyUnit,AType,Ades,Siz,colid,sum(Kg) iss,b.stockrate from Trs_del1 A INNER JOIN Trs_Del2 B ON A.ID = B.ID INNER JOIN STOCKTABLE C ON B.StockId = C.StockId And B.ORdid = C.Ordid where A.prs_Dept=16 and C.YF='A' and b.ordid=@OrdID_1 and B.Styleno=@Styleno  and PartyUnit='P' and TrType=7 group by A.Coycode,PArty,AType,Ades,Siz,colid,b.stockrate,partyunit

	    OPEN Cursor_3   

		FETCH NEXT FROM Cursor_3 INTO @Coycode_3,@Party_3,@Partyunit_3,@Atype_3,@Ades_3,@Siz_3,@ColId_3,@Iss_3,@StockRate_3

		WHILE @@FETCH_STATUS = 0       

		BEGIN 

			SELECT @AccRate = @Iss_3 * IsNull(Sum(ISNull(Rate,0)),0) from Trs_Po5 where Ordid=@OrdID_1 and Styleno=@Styleno and Atype=@Atype_3 and Ades=@Ades_3 and Clr=@ColId_3 and Siz=@Siz_3

			 If @AccRate = 0 

			 BEGIN

                    SELECT @AccRate = @Iss_3 *  IsNull(Sum(ISNull(BudRate,0)),0) from Pro_AccBudRate Where Ordid=@OrdID_1 and Acc_type=@Atype_3 and Acc_desc=@Ades_3 and Clr=@ColId_3 and Siz=@Siz_3 

             END   

             SET @SumAccRate += @AccRate

			 FETCH NEXT FROM Cursor_3 INTO @Coycode_3,@Party_3,@Partyunit_3,@Atype_3,@Ades_3,@Siz_3,@ColId_3,@Iss_3,@StockRate_3

		END

		CLOSE Cursor_3 

		DEALLOCATE Cursor_3

    SELECT @CutPcs = IsNull(Sum(ProdPcs),0)  from Trs_ProdEntry A INNER JOIN TRs_ProdEntryQty B ON A.ID  = B.ID Where Ordid=@OrdID_1 and Styleno=@Styleno and StageID=1 

	SELECT @OutSideCutPcs =  ISNull(Sum(RecPcs),0) From Trs_PcsGrn1 A INNER JOIN Trs_PcsGrn2 B ON A.ID = B.ID LEFT OUTER JOIN Pro_ProdPros ON A.ORdJob = Pro_ProdPros.Ordid And B.Styleno = Pro_ProdPros.Styleno And A.Dept = Pro_ProdPros.ProdPros Where A.OrdJob

 =@OrdID_1 and B.Styleno=@Styleno and Dept = 11 Group by A.Coycode,Dept, ISNull(Pro_ProdPros.Rate,0)

	 IF @CutPcs + @OutSideCutPcs > 0 

          SET @PerPcsAccValue = @SumAccRate / (@CutPcs + @OutSideCutPcs)

     ELSE



          SET @PerPcsAccValue = 0


	Update PcsStockRatePost Set fabricValue=@FabricValue,CutGrammage=@CutGrmmageKgs,BudRate =@CumBudRate , BillRAte = @CumBillRate, OvrAllAccValue_ForPcs =@PerPcsAccValue Where Ordid=@OrdID_1 and Styleno=@Styleno and Coycode=@Coycode and DeptId=@DeptID and isnull(DeptSlno,0) = isnull(@DeptSlno,0)

	 SET @StrOrdID = @OrdID_1

     SET @StrStyleNo =@Styleno


	 FETCH NEXT FROM Cursor_1 INTO @Coycode,@Ordid_1,@Styleno,@DeptSlno,@DeptID

   END

   CLOSE Cursor_1 

   DEALLOCATE Cursor_1

   Update PcsStockRatePost Set CumulateRate = billrate where billrate <> 0 

   Update PcsStockRatePost Set CumulateRate = budrate where billrate = 0 

   Update A Set CumulateRate = B.Cumulaterate,FabricValue = B.FabricValue, OvrAllAccValue_ForPcs = isnull(B.OvrAllAccValue_ForPcs,0)  from TEmp_PceReg A INNER JOIN pcsStockRatepost B on a.ordid = b.ordid and a.styleno = b.styleno inner join mas_jobwrkcomp

 c on b.deptid = c.id and c.Workcompldet = a.deptname 

   Update A Set CumulateRate = B.Cumulaterate,FabricValue = B.FabricValue, OvrAllAccValue_ForPcs = isnull(B.OvrAllAccValue_ForPcs,0)  from TEmp_PceReg A INNER JOIN pcsStockRatepost B on a.ordid = b.ordid and a.styleno = b.styleno inner join mas_jobwrkcomp
 c on b.deptid = c.id and c.Workcompldet = a.deptname 

   Update Temp_PceREg set GarmentStockValue = (isnull(CumulateRate,0) + isnull(FabricValue,0) + ISNull(OvrAllAccValue_ForPcs,0)) * stockpcs

   /* For Finished Goods Value taken from Packing or Finished Stage Value */

 

   UPDATE  T SET CumulateRate = X.Cumulaterate,FabricValue = X.FabricValue,OvrAllAccValue_ForPcs=AccPcsRate  from Temp_PceReg T left join 

 (Select A.OrdId,a.StyleNo,WorkComplDet, IsNull(sum(B.Cumulaterate),0) as Cumulaterate, IsNull(Sum(B.FabricValue),0) as FabricValue , IsNull(Sum(B.OvrAllAccValue_ForPcs),0) as AccPcsRate  from TEmp_PceReg A INNER JOIN pcsStockRatepost B on a.ordid = b.ordid and a.styleno = b.styleno inner join mas_jobwrkcomp
 c on b.deptid = c.id and c.Workcompldet = a.deptname INNER JOIN Mas_Dept ON c.DeptId = Mas_DEpt.DeptID Where Mas_Dept.SEMIFINISH='F'
 Group by A.OrdId,A.StyleNo,WorkComplDet ) X on T.Ordid = X.OrdId And T.StyleNo = X.StyleNo WHERE DeptId =-3
  Update Temp_PceREg set GarmentStockValue = (isnull(CumulateRate,0) + isnull(FabricValue,0) + ISNull(OvrAllAccValue_ForPcs,0)) * stockpcs
  Where DeptId = -3  

	Update A SET GarmentStockValue = IsNull(StockPcs,0) * B.Rate from Temp_PceReg A INNER JOIN (Select Ordid,Styleno,Avg(rate) as Rate From 	Trs_PcsOpening Group by Ordid,Styleno )B ON A.OrdId = B.OrdId And A.StyleNo = B.StyleNo Where A.DeptId = -3



END
