/*

;=============================================

; Author		    :		Global Software's

; Create date		:		20/08/2022

; Create By		    :		ASLAM

; Description		:		QRY

; Change Person		:		SWETHA

; Last Change Date	:		23/11/2024 10.37 AM

; =============================================	

*/

CREATE PROCEDURE SP_Qry5 (@OrdID int,@StyleNo VarChar(50))

AS 

BEGIN

Select Part,Stage,Sum(ProdPcs) As ProdPcs,PartId,Id,X.Ordid,StageId  from (Select Isnull(Mas_Part.PartName,'') as  Part,Isnull(Mas_JobWrkComp.WorkComplDet,'') As Stage ,Isnull(Sum(Trs_ProdentryQty.ProdPcs),0) as ProdPcs,Mas_Part.Partid,Mas_Dept.DeptID As id,Ordid,Mas_JobWrkComp.Id As StageId From Trs_ProdEntry INNER JOIN Trs_ProdentryQty ON Trs_ProdEntryQty.ID=Trs_ProdEntry.id INNER JOIN Mas_Part On Mas_Part.PartID=Trs_Prodentry.PARTID  Left Join Mas_JobWrkComp On Mas_JobWrkComp.Id=Trs_Prodentry.StageID Inner Join MAs_Dept On MAs_Dept.Deptid=Mas_JobWrkComp.Deptid INNER JOIN Mas_Size ON Trs_ProdentryQty.SizId = Mas_Size.SizeID WHERE   OrdID = @OrdID and StyleNo=@StyleNo AND PcsType<>'Panel' Group by Mas_Part.PartName,Mas_JobWrkComp.WorkComplDet ,Mas_Part.Partid,Mas_JobWrkComp.Id ,Ordid,Mas_Dept.DeptID UNION ALL Select Isnull(Mas_Part.PartName,'') as  Part,Isnull(Mas_JobWrkComp.WorkComplDet,'') As Stage ,0 as ProdPcs,Mas_Part.Partid,Mas_Dept.DeptID As id,OrdJobNo as Ordid,Mas_JobWrkComp.Id As StageId from Trs_Pcs1 INNER JOIN Trs_Pcs2 On Trs_Pcs1.ID=Trs_Pcs2.Id INNER join Mas_Part On Mas_Part.PartId=Trs_Pcs2.PartID Inner Join Mas_JobWrkComp ON  Trs_Pcs1.TargetStageID = Mas_JobWrkComp.Id  Inner Join Mas_Dept On Mas_Dept.DeptID=Mas_JobWrkComp.Deptid Inner join  Mas_Size On Mas_Size.SizeID=Trs_Pcs2.SizeID where OrdjobNo= @OrdID and StyleNo=@StyleNo And Deltype='Process' AND PcsType<>'Panel' Group by Mas_Part.PartName,Mas_JobWrkComp.WorkComplDet ,Mas_Part.Partid,Mas_JobWrkComp.Id,OrdJobNo,Mas_Dept.DeptID UNION ALL   Select Isnull(Mas_Part.PartName,'') as  Part,Isnull(Mas_JobWrkComp.WorkComplDet,'') As Stage,0 as ProdPcs,Mas_Part.Partid,Mas_Dept.DeptID As id,OrdJob as Ordid,Mas_JobWrkComp.Id As StageId from Trs_Pcsgrn1 INNER JOIN Trs_Pcsgrn2 On Trs_PcsGrn1.ID=Trs_PcsGrn2.Id INNER join Mas_Part On Mas_Part.PartId=Trs_PcsGrn2.PartID INNER JOIN Trs_PcsGrn3 ON Trs_PcsGrn3.id = Trs_PcsGrn1.id  INNER JOIN Mas_JobWrkComp ON Mas_JobWrkComp.Id = Trs_PcsGrn3.StageID Inner Join Mas_Dept On Mas_Dept.DeptID=Mas_JobWrkComp.Deptid Inner join  Mas_Size On Mas_Size.SizeID=Trs_Pcsgrn2.SizID where Ordjob= @OrdID and StyleNo=@StyleNo And GrnType='Process Receipt' AND PcsType<>'Panel' and Mas_Part.PartID<>0  Group by Mas_Part.PartName,Mas_JobWrkComp.WorkComplDet ,Mas_Part.Partid,Mas_JobWrkComp.Id,OrdJob,Mas_Dept.DeptID)X Left Join OrdSeq On OrdSeq.Prs=X.Id and OrdSeq.Ordid=X.Ordid Group by Part,Stage,PartId,Id,Sl,X.Ordid,StageId Order By Partid desc,sl

END