/*
;=============================================
; Author		:		Global Software's
; Create date		:		20/08/2022
; Create By		:		ASLAM
; Description		:		QRY
; Change Person		:		ASLAM
; Last Change Date	:		30/07/2024 11.01 AM
; =============================================	
*/
CREATE PROCEDURE SP_Qry38 (@ID int,@Coycode int)
AS 
BEGIN
SELECT Distinct RTRIM(CAST(Trs_Pcs1.DocNo AS varchar)) DCNo, Trs_Pcs1.Finyear AS DcFinyear,Trs_Pcs1.EntryDt as dtDCDate, '' as DelType,  0 as NoBdl, 0 as Wgt, '' as Remark, RTRIM(CAST(OrderMas.Jobno AS varchar)) as JobNo,OrderMas.Finyear as OrdFinyear,OrderMas.BuyOrdNo AS OrderNo, Trs_Pcs1.StyleNo,Mas_Exporter.ExporterName, '' as DCFormat, Mas_Exporter.ExporterAddress, Mas_Exporter.Phone, Mas_Exporter.TIN, Mas_Exporter.CST,Mas_Exporter.pan AS PAN, '' as Paddress,  ''  AS PPhone,  0 as PTIN,  0 as PCST, '' Deptname, Mas_JobWrkComp.WorkComplDet, '' as PanelName, Mas_Buyer.ShortBuyer as BuyerName, Mas_Buyer.BuyerName as BuyerName1, Mas_Color.ColorDesc, '' as StyleDesc, 'ALL' as PartName, '' as Terms,0 as Gpno,'' as GatePassFlg ,'FINISHED GOODS'AS ProcessType,EntryDt as Tardt,Mas_Exporter.IoNoCaption, '' as UserName,Ordermas.ordertype,'' as RejectionType,IsNull(Mas_Exporter.GSTNo,'') As GSTNo,0 As PGSTNo,'' as HSNCode,'' as EwayBillNo,'' EwayBillDt,0 as amount,IsNull(LotNo,'') as LotNo,OrderMas.OrdId,trs_pcs2.Colid,0 as PartID,'' as VehicleNo,'' As BitFormDesignDesc,0 as Rate,'' as HSNDesc,0  As Amount1,isnull(Mas_Exporter.EMailid,'') EMailid,ISNULL(Mas_Season.SeasDesc,'') SeasDesc  FROM   dbo.Trs_FinishedGoods1 Trs_Pcs1 INNER JOIN dbo.Mas_Exporter Mas_Exporter ON Trs_Pcs1.Coycode = Mas_Exporter.ExpID INNER JOIN  dbo.Trs_FinishedGoods2 Trs_Pcs2 ON Trs_Pcs1.ID = Trs_Pcs2.ID INNER JOIN dbo.OrderMas OrderMas ON Trs_Pcs1.OrdId = OrderMas.OrdId LEFT OUTER JOIN	 dbo.Mas_Buyer Mas_Buyer ON OrderMas.BuyerID = Mas_Buyer.BuyerID LEFT OUTER JOIN	 dbo.Mas_Season Mas_Season ON OrderMas.Season = Mas_Season.SeasID INNER JOIN   dbo.OrdSizeMas OrdSizeMas ON Trs_Pcs1.OrdID = OrdSizeMas.OrdID AND Trs_Pcs2.SizeID = OrdSizeMas.SizeID and Trs_Pcs1.StyleNo=OrdSizeMas.StyleNo LEFT OUTER JOIN  dbo.Mas_JobWrkComp Mas_JobWrkComp ON Trs_Pcs1.TargetStageId = Mas_JobWrkComp.Id INNER JOIN dbo.Mas_Color Mas_Color ON Trs_Pcs2.ColID = Mas_Color.ColID INNER JOIN dbo.Mas_Size Mas_Size ON Trs_Pcs2.SizeID = Mas_Size.SizeID LEFT OUTER JOIN  dbo.Mas_Exporter Mas_Unit ON Trs_Pcs1.CoyCode = Mas_Unit.ExpID  where Trs_Pcs1.id=@ID and Coycode=@Coycode  Group by Trs_Pcs1.DocNo,Trs_Pcs1.Finyear,Trs_Pcs1.EntryDt, OrderMas.Jobno,OrderMas.Finyear,OrderMas.BuyOrdNo,Trs_Pcs1.StyleNo,Mas_Exporter.ExporterName, Mas_Exporter.ExporterAddress, Mas_Exporter.Phone, Mas_Exporter.TIN, Mas_Exporter.CST,Mas_Exporter.pan,Mas_Unit.ExporterName, Mas_Unit.ExpID,Mas_Unit.ExporterAddress, Mas_Unit.Phone, Mas_Unit.TIN , Mas_Unit.CST ,   Mas_JobWrkComp.WorkComplDet, Mas_Buyer.BuyerName ,Mas_Color.ColorDesc, Mas_Exporter.IoNoCaption, Ordermas.ordertype,Mas_Exporter.GSTNo,LotNo,OrderMas.OrdId,trs_pcs2.Colid,Mas_Exporter.EMailid, Mas_Buyer.ShortBuyer,ISNULL(Mas_Season.SeasDesc,'')
END
