/*
;=============================================
; Author		:		Global Software's
; Create date		:		18/07/2022
; Create By		:		ASLAM
; Description		:		BILL REGISTER EXCEL QUERY
; Change Person		:		
; Last Change Date	:		18/07/2022
; =============================================	
*/
CREATE PROCEDURE SP_BillsRegView_prd1 @coycode int,@Deptid int,@FromDt Date,@ToDate Date
AS 
select distinct ColorDesc,Empid   as Suppid, b.Rate ,sum(ThisBillQty) as Kgs ,case when isnull(x.taxper,0)<>0 then ((sum(ThisBillQty) * b.Rate)*(x.taxper/100)) else (sum(ThisBillQty) * b.Rate) end as NetAmount,(sum(ThisBillQty) * b.Rate) as GrossAmount,isnull(PassFlg ,'N')PassFlg,brno billno,brdt billdt,0 CGSTAmt ,0 SGSTAmt,0 IGSTAmt,'Production' as Type,0 as CGSTAmt1, 0 as SGSTAmt1,0 as IGStAmt1,0 as TcsAmt ,0 as OthersAmt,a.brno,a.finyear,a.brdt from Trs_ProdBillMasNew a inner join Trs_ProdBillDetNew  b on a.ID=b.ID left join (select id,sum(Value) taxper from Trs_prodBillAddded1 where Adddedcode in(40,41,42) group by id)x on a.id=x.id inner join Mas_Color on Mas_Color.ColID=b.Colorid inner join Mas_JobWrkComp  on Mas_JobWrkComp.Id=b.StageID INNER JOIN Mas_Dept ON Mas_Dept.DeptID=Mas_JobWrkComp.DeptId WHERE Mas_Dept.deptid = @Deptid and  a.Coycode = @coycode And Brdt>=@FromDt and Brdt<=@ToDate group by  ColorDesc,Empid,b.Rate ,taxper,PassFlg,brno,brdt,finyear