/*
;=============================================
; Author		:		Global Software's
; Create date		:		18/07/2022
; Create By		:		ASLAM
; Description		:		BILL REGISTER EXCEL QUERY
; Change Person		:		
; Last Change Date	:		18/07/2022
; =============================================	
*/
CREATE PROCEDURE SP_BillsRegView_cm @coycode int,@Deptid int,@FromDt Date,@ToDate Date
AS 
SELECT  Distinct Mas_Commercial.Descr as ItemDesc , Mas_Party.PID as SuppId,ShippingBill.Billno,ShippingBill.Billdt ,0 as Kgs, 0 as Rate , ShippingBill_Det.BillAmount Amount,
                ShippingBill.PassFlg, 0 as GrossAmount , 0 as NetAmount , 0 as VatAmount, 0 as VatPercent,'' as Type,0 as CGSTAmt1, 0 as SGSTAmt1,0 as IGStAmt1 , 
                case when x4.OrdCnt > 1 then IsNull(x1.TcsAmt,0) / x4.OrdCnt ELSE IsNull(x1.TcsAmt,0) END as TcsAmt, case when x4.OrdCnt >1 then 
                 IsNull(x2.OthersAmt,0) / x4.OrdCnt ELSE IsNull(x2.Othersamt,0)  END as OthersAmt,brno,ShippingBill.finyear,brdt  FROM  ShippingBill INNER JOIN Mas_Exporter  ON ShippingBill.Coycode=Mas_Exporter.ExpID   	
                INNER JOIN Mas_Party  ON ShippingBill.Party=Mas_Party.PID	 INNER JOIN	 ShippingBill_Det  ON ShippingBill.Id=ShippingBill_Det.CID 	 
                INNER JOIN Mas_Commercial  ON ShippingBill_Det.CommID=Mas_Commercial.ID INNER JOIN OrderMas  ON ShippingBill_Det.OrdID=OrderMas.OrdId	
                LEFT JOIN (Select ID,isNull(Sum(PartyAmt),0) as TCSAmt From ShippingBill_taxdet A1 INNER JOIN Mas_AddDed ON a1.Adddedcode = Mas_AddDed.AddDedCode  
                WHERE AddDedName like '%TCS%' and Grp=7 GROUP BY ID) X1  ON ShippingBill.Id = X1.Id  LEFT JOIN (Select ID,isNull(Sum(PartyAmt),0) as OthersAmt 
                From ShippingBill_taxdet A1 INNER JOIN Mas_AddDed ON a1.Adddedcode = Mas_AddDed.AddDedCode WHERE Mas_AddDed.AddDedCode not in (1,2,40,41,42) 
                 and Grp=7 GROUP BY ID) X2  ON ShippingBill.Id = X2.Id   LEFT JOIN (Select a.id, count(distinct b.Ordid) as OrdCnt from ShippingBill a 
                 inner join ShippingBill_Det b on a.id= b.cid group by a.id  )  x4 on x4.id = ShippingBill.id  WHERE ShippingBill.Dept = @deptId  and ShippingBill.Coycode = @Coycode And Brdt>=@FromDt and Brdt<=@ToDate

