/*
;=============================================
; Author		:		Global Software's
; Create date		:		18/07/2022
; Create By		:		ASLAM
; Description		:		BILL REGISTER EXCEL QUERY
; Change Person		:		
; Last Change Date	:		18/07/2022
; =============================================	
*/
CREATE PROCEDURE SP_BillsRegView_fab5 @coycode int,@Deptid int,@FromDt Date,@ToDate Date
AS
 SELECT Mas_Color.ColorDesc,Trs_Bills.Party as  Suppid,Trs_BillRate.Rate, SUM(Isnull(Trs_BillRate.Mtr,0)) as Kgs, SUM(Isnull(Trs_BillRate.NetAmount,0)) as NetAmount, SUM(isnull(Trs_BillRate.Amount,0)) GrossAmount,  Trs_Bills.PassFlg,Trs_Bills.BillNo, Trs_Bills.Billdt,Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as CGSTAmt,Case When IsNull(Mas_Party.Stateid,0)=IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt)/2 ELSE 0 End as SGSTAmt,Case When IsNull(Mas_Party.Stateid,0)<>IsNull(Mas_Exporter.Stateid,0) Then Sum(Trs_BillRate.TaxAmt) End as IGSTAmt,Trs_Bills.Type ,0 as CGSTAmt1, 0 as SGSTAmt1,0 as IGStAmt1, 0 as TcsAmt, 0 as OthersAmt,brno,finyear,brdt  FROM Trs_Bills INNER JOIN Trs_BillRate ON Trs_Bills.ID = Trs_BillRate.ID  INNER JOIN Mas_Party ON Mas_Party.PID=Trs_Bills.party INNER JOIN Mas_Exporter ON Mas_Exporter.Expid=Trs_Bills.Coycode LEFT OUTER JOIN Mas_Color ON Trs_BillRate.ColId = Mas_Color.ColID WHERE Trs_Bills.Coycode=@Coycode and Trs_Billrate.Dept =@DeptId And Brdt>=@FromDt and Brdt<=@ToDate GROUP BY Mas_Color.ColorDesc, Trs_Bills.PassFlg,Trs_Bills.Party,Trs_BillRate.Rate,Trs_Bills.BillNo, Trs_Bills.Billdt,Mas_Party.Stateid,Mas_Exporter.Stateid,Trs_Bills.Type ,brno,finyear,brdt