/*
;=============================================
; Author		:		Global Software's
; Create date		:		03/04/2014
; Create By		:		ASLAM
; Description		:		INDEX FOR BUDGET VIEW
; Change Person		:		
; Last Change Date	:		03/04/2014
; =============================================	
*/

Create Procedure SP_Index 
as

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt_8_818101955__K1_K2_K4_K5_K6_K7_K8_K9_K10_K21_K22_K18_11_13] ON [dbo].[Pro_ReqKnitt]
(
	[OrdId] ASC,
	[DeptId] ASC,
	[FabId] ASC,
	[ColId] ASC,
	[CntID] ASC,
	[GSM] ASC,
	[GG] ASC,
	[LL] ASC,
	[DiaID] ASC,
	[FinDiaId] ASC,
	[FinGSM] ASC,
	[DesignId] ASC
)
INCLUDE ( 	[ReqKgs],
	[ReqMtr]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt_8_818101955__K2_K4_K1_K5_K6_K7_K8_K9_K10_K21_K22_K18_11_13] ON [dbo].[Pro_ReqKnitt]
(
	[DeptId] ASC,
	[FabId] ASC,
	[OrdId] ASC,
	[ColId] ASC,
	[CntID] ASC,
	[GSM] ASC,
	[GG] ASC,
	[LL] ASC,
	[DiaID] ASC,
	[FinDiaId] ASC,
	[FinGSM] ASC,
	[DesignId] ASC
)
INCLUDE ( 	[ReqKgs],
	[ReqMtr]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_818101955_4_1] ON [dbo].[Pro_ReqKnitt]([FabId], [OrdId])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt2_8_416577118__K3_K1_K2_K4_K5_K6_K7_K8_K9_K16_K17_K18_K19_10] ON [dbo].[Pro_ReqKnitt2]
(
	[FabId] ASC,
	[OrdId] ASC,
	[DeptId] ASC,
	[ColId] ASC,
	[CntID] ASC,
	[GSM] ASC,
	[GG] ASC,
	[LL] ASC,
	[DiaID] ASC,
	[FinDiaId] ASC,
	[FinGSM] ASC,
	[DesignID] ASC,
	[RateUOM] ASC
)
INCLUDE ( 	[Rate]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt2_8_416577118__K2_K3_K1_K4_K5_K6_K7_K8_K9_K16_K17_K19_K18_10] ON [dbo].[Pro_ReqKnitt2]
(
	[DeptId] ASC,
	[FabId] ASC,
	[OrdId] ASC,
	[ColId] ASC,
	[CntID] ASC,
	[GSM] ASC,
	[GG] ASC,
	[LL] ASC,
	[DiaID] ASC,
	[FinDiaId] ASC,
	[FinGSM] ASC,
	[RateUOM] ASC,
	[DesignID] ASC
)
INCLUDE ( 	[Rate]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt2_8_416577118__K3_K1_K2_K4_K5_K6_K7_K8_K9_K16_K17_K18_10] ON [dbo].[Pro_ReqKnitt2]
(
	[FabId] ASC,
	[OrdId] ASC,
	[DeptId] ASC,
	[ColId] ASC,
	[CntID] ASC,
	[GSM] ASC,
	[GG] ASC,
	[LL] ASC,
	[DiaID] ASC,
	[FinDiaId] ASC,
	[FinGSM] ASC,
	[DesignID] ASC
)
INCLUDE ( 	[Rate]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqKnitt2_8_416577118__K1_2_3_4_5_6_7_8_9_10_16_17_18] ON [dbo].[Pro_ReqKnitt2]
(
	[OrdId] ASC
)
INCLUDE ( 	[DeptId],
	[FabId],
	[ColId],
	[CntID],
	[GSM],
	[GG],
	[LL],
	[DiaID],
	[Rate],
	[FinDiaId],
	[FinGSM],
	[DesignID]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_416577118_19_3_1_2_4_5_6_7_8_9_16] ON [dbo].[Pro_ReqKnitt2]([RateUOM], [FabId], [OrdId], [DeptId], [ColId], [CntID], [GSM], [GG], [LL], [DiaID], [FinDiaId])
go

CREATE STATISTICS [_dta_stat_416577118_10_3_1_2_4_5_6_7_8_9_16_17_18] ON [dbo].[Pro_ReqKnitt2]([Rate], [FabId], [OrdId], [DeptId], [ColId], [CntID], [GSM], [GG], [LL], [DiaID], [FinDiaId], [FinGSM], [DesignID])
go

CREATE STATISTICS [_dta_stat_416577118_3_1_2_4_5_6_7_8_9_16_17_19_18] ON [dbo].[Pro_ReqKnitt2]([FabId], [OrdId], [DeptId], [ColId], [CntID], [GSM], [GG], [LL], [DiaID], [FinDiaId], [FinGSM], [RateUOM], [DesignID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_PRO_AccReq_8_549941381__K22_K20_K1_K2_K3_K4_K5_K21_6] ON [dbo].[PRO_AccReq]
(
	[ItemType] ASC,
	[PurchaseType] ASC,
	[OrdID] ASC,
	[Acc_Type] ASC,
	[Acc_Desc] ASC,
	[Clr] ASC,
	[Siz] ASC,
	[PrsID] ASC
)
INCLUDE ( 	[ReqdQty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_549941381_1_20] ON [dbo].[PRO_AccReq]([OrdID], [PurchaseType])
go

CREATE STATISTICS [_dta_stat_549941381_21_20] ON [dbo].[PRO_AccReq]([PrsID], [PurchaseType])
go

CREATE STATISTICS [_dta_stat_549941381_21_22_1_2_3_4] ON [dbo].[PRO_AccReq]([PrsID], [ItemType], [OrdID], [Acc_Type], [Acc_Desc], [Clr])
go

CREATE STATISTICS [_dta_stat_549941381_20_22_21_1_2_3_4] ON [dbo].[PRO_AccReq]([PurchaseType], [ItemType], [PrsID], [OrdID], [Acc_Type], [Acc_Desc], [Clr])
go

CREATE STATISTICS [_dta_stat_549941381_22_1_2_3_4_5_21] ON [dbo].[PRO_AccReq]([ItemType], [OrdID], [Acc_Type], [Acc_Desc], [Clr], [Siz], [PrsID])
go

CREATE STATISTICS [_dta_stat_549941381_1_2_3_4_5_21_20] ON [dbo].[PRO_AccReq]([OrdID], [Acc_Type], [Acc_Desc], [Clr], [Siz], [PrsID], [PurchaseType])
go

CREATE STATISTICS [_dta_stat_549941381_20_22_1_2_3_4_5_21] ON [dbo].[PRO_AccReq]([PurchaseType], [ItemType], [OrdID], [Acc_Type], [Acc_Desc], [Clr], [Siz], [PrsID])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_OrderQtyDtl_8_821786185__K7_K1_K3_4_5_9_15] ON [dbo].[OrderQtyDtl]
(
	[StyleNo] ASC,
	[OrdID] ASC,
	[ColID] ASC
)
INCLUDE ( 	[SizeId],
	[OrderQty],
	[SaleRate],
	[CutPlanQty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_OrderQtyDtl_8_821786185__K3_K1_K7_4_5_9_15] ON [dbo].[OrderQtyDtl]
(
	[ColID] ASC,
	[OrdID] ASC,
	[StyleNo] ASC
)
INCLUDE ( 	[SizeId],
	[OrderQty],
	[SaleRate],
	[CutPlanQty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderQtyDtl_8_821786185__K1_5_9_15] ON [dbo].[OrderQtyDtl]
(
	[OrdID] ASC
)
INCLUDE ( 	[OrderQty],
	[SaleRate],
	[CutPlanQty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_OrderQtyDtl_8_821786185__K7] ON [dbo].[OrderQtyDtl]
(
	[StyleNo] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderQtyDtl_8_821786185__K1_15] ON [dbo].[OrderQtyDtl]
(
	[OrdID] ASC
)
INCLUDE ( 	[CutPlanQty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_AccBudRate_8_1969598255__K13_1_2_3_4_5_6_12] ON [dbo].[Pro_AccBudRate]
(
	[ItemType] ASC
)
INCLUDE ( 	[OrdID],
	[Acc_Type],
	[Acc_Desc],
	[Clr],
	[Siz],
	[BudRate],
	[PrsID]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1969598255_1_2_3_4_5_12] ON [dbo].[Pro_AccBudRate]([OrdID], [Acc_Type], [Acc_Desc], [Clr], [Siz], [PrsID])
go

CREATE STATISTICS [_dta_stat_1969598255_1_13_2_3_4_5] ON [dbo].[Pro_AccBudRate]([OrdID], [ItemType], [Acc_Type], [Acc_Desc], [Clr], [Siz])
go

CREATE STATISTICS [_dta_stat_1969598255_13_12_1_2_3_4_5] ON [dbo].[Pro_AccBudRate]([ItemType], [PrsID], [OrdID], [Acc_Type], [Acc_Desc], [Clr], [Siz])
go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqYarn_8_1909581841__K1_K5_K4_K2_6] ON [dbo].[Pro_ReqYarn]
(
	[OrdId] ASC,
	[ColId] ASC,
	[CountId] ASC,
	[DeptId] ASC
)
INCLUDE ( 	[ReqKgs]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1909581841_1_2] ON [dbo].[Pro_ReqYarn]([OrdId], [DeptId])
go

CREATE STATISTICS [_dta_stat_1909581841_2_1_5] ON [dbo].[Pro_ReqYarn]([DeptId], [OrdId], [ColId])
go

CREATE STATISTICS [_dta_stat_1909581841_5_4_2_1] ON [dbo].[Pro_ReqYarn]([ColId], [CountId], [DeptId], [OrdId])
go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqYarn2_8_400577061__K2_K4_K3_K1_5_12] ON [dbo].[Pro_ReqYarn2]
(
	[DeptId] ASC,
	[ColId] ASC,
	[CountId] ASC,
	[OrdId] ASC
)
INCLUDE ( 	[Rate],
	[QTY]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ReqYarn2_8_400577061__K4_K3_K2_K1_5_12] ON [dbo].[Pro_ReqYarn2]
(
	[ColId] ASC,
	[CountId] ASC,
	[DeptId] ASC,
	[OrdId] ASC
)
INCLUDE ( 	[Rate],
	[QTY]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_400577061_1_4_3_2] ON [dbo].[Pro_ReqYarn2]([OrdId], [ColId], [CountId], [DeptId])
go

CREATE NONCLUSTERED INDEX [_dta_index_PRo_BudCommercial_8_1717073353__K1_K5_K4_3_6] ON [dbo].[PRo_BudCommercial]
(
	[OrdID] ASC,
	[Val] ASC,
	[Per] ASC
)
INCLUDE ( 	[ComID],
	[Total]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_PRo_BudCommercial_8_1717073353__K1_K3_K4_K5_6] ON [dbo].[PRo_BudCommercial]
(
	[OrdID] ASC,
	[ComID] ASC,
	[Per] ASC,
	[Val] ASC
)
INCLUDE ( 	[Total]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_1717073353_4_3] ON [dbo].[PRo_BudCommercial]([Per], [ComID])
go

CREATE STATISTICS [_dta_stat_1717073353_1_4] ON [dbo].[PRo_BudCommercial]([OrdID], [Per])
go

CREATE STATISTICS [_dta_stat_1717073353_5_3] ON [dbo].[PRo_BudCommercial]([Val], [ComID])
go

CREATE STATISTICS [_dta_stat_1717073353_3_1_5_4] ON [dbo].[PRo_BudCommercial]([ComID], [OrdID], [Val], [Per])
go

SET ANSI_PADDING ON

go

CREATE NONCLUSTERED INDEX [_dta_index_Pro_ProdPros_8_384772478__K1_K5_K3_4_9] ON [dbo].[Pro_ProdPros]
(
	[OrdID] ASC,
	[STyleNo] ASC,
	[ProdPros] ASC
)
INCLUDE ( 	[Rate],
	[Qty]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE STATISTICS [_dta_stat_384772478_3_1_5] ON [dbo].[Pro_ProdPros]([ProdPros], [OrdID], [STyleNo])
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderMas_8_1829581556__K1_29] ON [dbo].[OrderMas]
(
	[OrdId] ASC
)
INCLUDE ( 	[Crate]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderMas_8_1829581556__K1_32] ON [dbo].[OrderMas]
(
	[OrdId] ASC
)
INCLUDE ( 	[grpref]) WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderMas_8_1829581556__K1_K32] ON [dbo].[OrderMas]
(
	[OrdId] ASC,
	[grpref] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go

CREATE NONCLUSTERED INDEX [_dta_index_OrderMas_8_1829581556__K32] ON [dbo].[OrderMas]
(
	[grpref] ASC
)WITH (SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF) ON [PRIMARY]
go
