/*
;=============================================
; Author		:		Global Software's
; Create date		:		20/08/2022
; Create By		:		ASLAM
; Description		:		P AND L BILL DETAIL
; Change Person		:		ASLAM
; Last Change Date	:		20/08/2022 10.05 AM
; =============================================	
*/

CREATE PROCEDURE SP_PLFabDet1 (@OrdID int,@WithTax Char(1))
AS 
IF @WithTax ='N' 
BEGIN
 SELECT DeptId,RateMethod,DeptName,OrderSno,isNull(Sum(Amount),0) as Amount FROM ( 
SELECT  Mas_Dept.DeptId,Mas_Dept.RateMethod,ISNULL(SUM(Trs_BillRate.Amount), 0) AS Amount, Mas_Dept.Deptname, Mas_Dept.OrderSno FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON Trs_Billrate.dept = Mas_Dept.DeptID WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM trs_grn1 INNER JOIN trs_grn2 on trs_grn1.id=trs_grn2.id WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id AND dept = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@OrdID)) GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,Mas_Dept.DeptId,Mas_Dept.RateMethod 
 UNION 

 SELECT  Mas_Dept.DeptId,Mas_Dept.RateMethod,ISNULL(SUM(Trs_BillRate.Amount), 0) AS Amount, Mas_Dept.Deptname, Mas_Dept.OrderSno FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON Trs_Billrate.dept = Mas_Dept.DeptID WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM Trs_MultiPrs_Grn1 as  trs_grn1 INNER JOIN Trs_MultiPrs_Grn3 as  trs_grn2 ON trs_grn1.id=trs_grn2.Id WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id AND trs_grn2.deptId = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@OrdID)) GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,Mas_Dept.DeptId,Mas_Dept.RateMethod ) X

  GROUP BY OrderSno,DeptName,DeptId,RateMethod
END
ELSE
BEGIN
 
 SELECT DeptId,RateMethod,DeptName,OrderSno,isNull(Sum(Amount),0) as Amount FROM ( 
 SELECT  Mas_Dept.DeptId,Mas_Dept.RateMethod,ISNULL(SUM(Trs_BillRate.NetAmount), 0) AS Amount, Mas_Dept.Deptname, Mas_Dept.OrderSno FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON Trs_Billrate.dept = Mas_Dept.DeptID WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM trs_grn1 INNER JOIN trs_grn2 on trs_grn1.id=trs_grn2.id WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id AND dept = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@OrdID)) GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,Mas_Dept.DeptId,Mas_Dept.RateMethod 
UNION
 SELECT  Mas_Dept.DeptId,Mas_Dept.RateMethod,ISNULL(SUM(Trs_BillRate.NetAmount), 0) AS Amount, Mas_Dept.Deptname, Mas_Dept.OrderSno FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON Trs_Billrate.dept = Mas_Dept.DeptID WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM Trs_MultiPrs_Grn1 as  trs_grn1 INNER JOIN Trs_MultiPrs_Grn3 as  trs_grn2 ON trs_grn1.id=trs_grn2.Id WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id AND trs_grn2.deptId = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@OrdID)) GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,Mas_Dept.DeptId,Mas_Dept.RateMethod ) X GROUP BY OrderSno,DeptName,DeptId,RateMethod
 END