/*
;==========================================================
; Author		:		Global Software's
; Create date		:		20/08/2022
; Create By		:		ASLAM
; Description		:		P AND L BILL DETAIL
; Change Person		:		KALAIVANI
; Last Change Date	:		29/12/2025 10.35 AM
; =========================================================	
*/

CREATE PROCEDURE SP_PLFabDet (@OrdID int,@WithTax Char(1))
AS 
IF @WithTax ='N' 
BEGIN
SELECT isNull(Sum(Amount),0) as Amount,DeptName,OrderSno,BillType FROM ( 
SELECT  Case When IsNull(BillType,'')='Purchase' Then Case When IsNull(Fcy,0)>0 Then (Sum(Trs_BillRate.Amount) * 
IsNull(exchangeRate,0)) Else Sum(Trs_BillRate.Amount) End Else Sum(Trs_BillRate.Amount) End AS Amount, Mas_Dept.Deptname, 
Mas_Dept.OrderSno,'' as BillType FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON 
Trs_Billrate.dept = Mas_Dept.DeptID Left Join Trs_Po1 On Trs_BillRate.PoId=Trs_Po1.Id  /*WHERE (Trs_BillRate.ID = (SELECT DISTINCT 
invid FROM trs_grn1 INNER JOIN trs_grn2 ON trs_grn1.id=trs_grn2.Id INNER JOIN (Select ID,GRNID FROM  Trs_Bills_GrnDtl WHERE 
MultiGRN='N' Group by Id,GRNID )c ON Trs_Grn1.ID = C.GRNID  WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id 
AND dept = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and   Trs_Grn2.ORDID=2017 and Trs_grn1.GrnType  <> 'Acc.Purch' 
and   Trs_grn1.GrnType  <> 'Acc.Proc.Receipt')) and Mas_Dept.Deptname<>'YARN DYEING'  */
Where Trs_BillRate.Ordid=@OrdID And Type='YF' and Mas_Dept.Deptname<>'YARN DYEING'
 /* Condition added by Aslam on 29-08-2025 for PS Export tkt 1029 */
GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,IsNull(BillType,''),IsNull(Fcy,0),IsNull(exchangeRate,0) 
/*UNION 
SELECT  Case When IsNull(BillType,'')='Purchase' Then Case When IsNull(Fcy,0)>0 Then (Sum(Trs_BillRate.Amount) * 
IsNull(exchangeRate,0)) Else Sum(Trs_BillRate.Amount) End Else Sum(Trs_BillRate.Amount) End AS Amount, Mas_Dept.Deptname, 
Mas_Dept.OrderSno,'' as BillType FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON 
Trs_Billrate.dept = Mas_Dept.DeptID Left Join Trs_Po1 On Trs_BillRate.PoId=Trs_Po1.Id   LEFT JOIN tmpPLBrData ON Trs_BillRate.ID = 
tmpPLBrData.billId and Trs_BillRate.Dept = tmpPLBrData.deptId   WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM Trs_MultiPrs_Grn1 
as  trs_grn1 INNER JOIN Trs_MultiPrs_Grn3 as  trs_grn2 ON trs_grn1.id=trs_grn2.Id WHERE trs_grn2.Invid = trs_billrate.id AND 
trs_grn2.Invid = trs_bills.id AND trs_grn2.deptid = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=2017 
and Trs_grn1.GrnType  <> 'Acc.Purch' and Trs_grn1.GrnType  <> 'Acc.Proc.Receipt')) and Mas_Dept.Deptname<>'YARN DYEING'   and 
isnull(tmpPLBrData.billId,0) <> Trs_BillRate.id   And Trs_BillRate.ID  in (select ID from Trs_Bills_GrnDtl WHERE MultiGRN='Y' 
Group by ID ) 
 /* Condition added by Aslam on 29-08-2025 for PS Export tkt 1029 */
GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,IsNull(BillType,''),IsNull(Fcy,0),IsNull(exchangeRate,0)*/ ) X GROUP BY 
DEPTNAMe,ORDERSNO,BILLTYPE Order By OrderSno 
END
ELSE
BEGIN
SELECT isNull(Sum(Amount),0) as Amount,DeptName,OrderSno,BillType FROM ( 
 SELECT  Case When IsNull(BillType,'')='Purchase' Then Case When IsNull(Fcy,0)>0 Then (Sum(Trs_BillRate.NetAmount) * 
 IsNull(exchangeRate,0)) Else Sum(Trs_BillRate.NetAmount) End Else Sum(Trs_BillRate.NetAmount) End AS Amount, Mas_Dept.Deptname, 
 Mas_Dept.OrderSno,'' as BillType FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON 
 Trs_Billrate.dept = Mas_Dept.DeptID Left Join Trs_Po1 On Trs_BillRate.PoId=Trs_Po1.Id /*WHERE (Trs_BillRate.ID = (SELECT DISTINCT 
 invid FROM trs_grn1 INNER JOIN trs_grn2 ON trs_grn1.id=trs_grn2.Id INNER JOIN (Select ID,GRNID FROM  Trs_Bills_GrnDtl WHERE 
 MultiGRN='N' Group by Id,GRNID )c ON Trs_Grn1.ID = C.GRNID  WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id 
 AND dept = Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@Ordid  and Trs_grn1.GrnType  <> 'Acc.Purch' 
 and Trs_grn1.GrnType  <> 'Acc.Proc.Receipt')) and Mas_Dept.Deptname<>'YARN DYEING' */
 Where  Trs_BillRate.Ordid=@OrdID And Type='YF' and Mas_Dept.Deptname<>'YARN DYEING'
 /* Condition added by Aslam on 29-08-2025 for PS Export tkt 1029 */
 GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,IsNull(BillType,''),IsNull(Fcy,0),IsNull(exchangeRate,0) 
 /*UNION
 SELECT  Case When IsNull(BillType,'')='Purchase' Then Case When IsNull(Fcy,0)>0 Then (Sum(Trs_BillRate.NetAmount) * 
 IsNull(exchangeRate,0)) Else Sum(Trs_BillRate.NetAmount) End Else Sum(Trs_BillRate.NetAmount) End AS Amount, Mas_Dept.Deptname, 
 Mas_Dept.OrderSno,'' as BillType FROM Trs_BillRate INNER JOIN Trs_Bills ON Trs_BillRate.ID = Trs_Bills.ID INNER JOIN Mas_Dept ON 
 Trs_Billrate.dept = Mas_Dept.DeptID Left Join Trs_Po1 On Trs_BillRate.PoId=Trs_Po1.Id  LEFT JOIN tmpPLBrData ON Trs_BillRate.ID = 
 tmpPLBrData.billId and Trs_BillRate.Dept = tmpPLBrData.deptId 
WHERE (Trs_BillRate.ID = (SELECT DISTINCT invid FROM Trs_MultiPrs_Grn1 as  trs_grn1 INNER JOIN Trs_MultiPrs_Grn3 as  trs_grn2 ON 
trs_grn1.id=trs_grn2.Id WHERE trs_grn2.Invid = trs_billrate.id AND trs_grn2.Invid = trs_bills.id AND trs_grn2.deptID = 
Trs_Billrate.Dept and trs_grn2.OrdId=trs_billrate.OrdId and Trs_Grn2.ORDID=@Ordid and Trs_grn1.GrnType  <> 'Acc.Purch' and 
Trs_grn1.GrnType  <> 'Acc.Proc.Receipt')) and Mas_Dept.Deptname<>'YARN DYEING'  and isnull(tmpPLBrData.billId,0) <> Trs_BillRate.id  
 And Trs_BillRate.ID  in (select ID from Trs_Bills_GrnDtl WHERE MultiGRN='Y' Group by ID ) 
 /* Condition added by Aslam on 29-08-2025 for PS Export tkt 1029 */
 GROUP BY Mas_Dept.Deptname, Mas_Dept.OrderSno,IsNull(BillType,''),IsNull(Fcy,0),IsNull(exchangeRate,0) */) X GROUP BY 
 DEPTNAMe,ORDERSNO,BILLTYPE Order By OrderSno
END