/*;=============================================   
; Author           :  Global Software's    
; Create date      :  01/12/2025    
; Create By        :  ASLAM  
; Description      :  Piece Delivery
; Change Person    :  ASLAM
; Last Change Date :  06/12/2025 10.20 AM 
; =============================================  */ 

CREATE PROCEDURE Sp_Pcs2_LineStk (@Id Int,@ColId Int,@StyleId Int,@StyleNo VarChar(20),@PartID Int,@SizId Int,@LotNo Varchar(15),@PoNo Varchar(15),@Rate Numeric(18,2),@Qty Int,@Process Varchar(50),@SourceStageId Int,@compID Int,@SrcLineId Int) As  

Begin  


 IF (@Process <> 'Despatch' and @Process <> 'Sales')    
 BEGIN    
 If (Select Count(Id) From Trs_Pcs2 Where ID = @ID And SizeID = @SizID And StyleNo=@Styleno And StyleId = @StyleId And ColId = @ColId And PartId = @PartID AND SourceStageId=@SourceStageId and LotNo=@LotNo and SrcLineID = @SrcLineId )=0 And @Qty>0    
 BEGIN     
 INSERT INTO TRS_Pcs2 (ID, ColID, StyleID, PanelId, SizeID, Pcs, StyleNo, Rate, PartID,LotNo,PoNo,SourceStageId,CompID,SrcLineID) VALUES  (@ID,
  @ColId,       @StyleId, 0, @SizId, @Qty, @StyleNo, @Rate, @PartID,@LotNo,'',@SourceStageId,0,@SrcLineId)        

  Exec PROC_Stock_PiecesDelivery_Insert_LineStk @Id,@Styleno ,@PartId ,@ColId ,@SizId ,@SourceStageID ,@Qty ,@LotNo ,@SrcLineId     

  END   

  ELSE	   

  IF (Select Count(Id) From Trs_Pcs2 Where ID = @ID And SizeID = @SizID And StyleNo=@Styleno And StyleId = @StyleId And   ColId = @ColId And PartId = @PartID and SourceStageId=@SourceStageId and LotNo=@LotNo and SrcLineID = @SrcLineId)>0 And @Qty>0 	     
  



  BEGIN	        



  EXEC PROC_Stock_PiecesDelivery_Update_LineStk @Id,@Styleno ,@PartId ,@ColId ,@SizId ,@SourceStageID ,@Qty ,@LotNo ,@SrcLineId           



  UPDATE Trs_Pcs2 set Pcs = @Qty, Rate = @Rate Where ID = @ID And SizeID = @SizID And StyleNo=@Styleno And StyleId = @StyleId And ColId = @ColId And PartId = @PartID    And SourceStageId=@SourceStageId	and LotNo=@LotNo      And SrcLineID = @SrcLineId



  END         



  ELSE        



  BEGIN          



  EXEC PROC_Stock_DeliveryPieces_Delete_1_LineStk @Id,@Styleno ,@PartId ,@ColId ,@SizId ,@SourceStageID ,@Qty ,@LotNo   ,@SrcLineId          



  DELETE FROM TRS_PCS2 WHERE ID = @ID And SizeID = @SizID And



 StyleNo=@Styleno And StyleId = @StyleId And ColId = @ColId And PartId = @PartID And SourceStageId=@SourceStageId and LotNo=@LotNo     

 And SrcLineID = @SrcLineId

 END     

 END      

 END 