/*
;=============================================
; Author		:		Global Software's
; Create date		:		20/08/2022
; Create By		:		ASLAM
; Description		:		QRY
; Change Person		:		ASLAM
; Last Change Date	:		16/12/2022 10.00 AM
; =============================================	
*/
CREATE PROCEDURE SP_Qry6 (@DCID int,@Coycode int,@DeptId int)
AS 
BEGIN
 SELECT Sum(X.Expr1)  as RecKgs,Sum(x.Expr2) as RecBag,Sum(X.Expr3) as RecMtr from ( SELECT isnull(SUM(Trs_GRN2.RecKgs),0) AS Expr1,isnull(SUM(Trs_GRN2.RBag),0) AS Expr2 , isnull(SUM(Trs_GRN2.Recmtr),0) AS Expr3 FROM Trs_GRN2 INNER JOIN Trs_Grn1 ON Trs_GRN2.ID = Trs_Grn1.ID INNER JOIN StockTable ON Trs_GRN2.ActStockID = StockTable.StockID WHERE Trs_Grn1.Coycode =@Coycode AND  Trs_Grn1.DCID =@DcID And Trs_Grn1.ID <> 0 and Trs_Grn1.Grntype in ('Process') and Trs_Grn1.dept=0  UNION SELECT isnull(SUM(C.RecKgs),0) AS Expr1 ,isnull(SUM(c.RBag),0) AS Expr2 , isnull(SUM(c.Recmtr),0) AS Expr3 FROM Trs_MultiPrs_Grn2 A INNER JOIN Trs_MultiPrs_Grn1 B ON A.ID = B.ID INNER JOIN Trs_MultiPrs_Grn3 C ON A.ID= C.ID  WHERE B.Coycode =@Coycode AND  A.OurDCID = @DcID And B.ID <> 0 and B.Grntype='Process' and C.deptID=@deptID
 UNION
 SELECT isnull(SUM(Trs_GRN2.RecKgs),0) AS Expr1 ,isnull(SUM(Trs_GRN2.RBag),0) AS Expr2 , isnull(SUM(Trs_GRN2.Recmtr),0) AS Expr3 FROM Trs_GRN2 INNER JOIN Trs_Grn1 ON Trs_GRN2.ID = Trs_Grn1.ID INNER JOIN StockTable ON Trs_GRN2.StockID = StockTable.StockID WHERE Trs_Grn1.Coycode =@Coycode AND  Trs_Grn1.DCID = @DcID And Trs_Grn1.ID <> 0 and Trs_Grn1.Grntype in ('Process Return') and Trs_Grn1.dept=@DeptID   ) X 
END
