/*
;=============================================
; Author		:		Global Software's
; Create date		:		27/07/2022
; Create By		:		ASLAM
; Description		:		SUPPLIER ORDER REGISTER 
; Change Person		:		
; Last Change Date	:		27/07/2022 10.00 AM
; =============================================	
*/
CREATE PROCEDURE SP_Rpt_SupplierOrderReg (@Coycode as int, @CompFlg as char(1),@FromDate as datetime,@ToDate as datetime,@BuyerId as nvarchar(4000),@MerchId as nvarchar(4000) ,@ordid as nvarchar(4000),@Suppno as nvarchar(4000) ,@OrderType as Nvarchar(7), 
@finyear as char(2)) AS  BEGIN DECLARE @SQLSTR AS NVARCHAR(4000) SET @SQLSTR=N' SELECT  SuppOrdMas.ExpID ,SuppOrdMas.PID,SuppOrdMas.SuppOrdId,SuppOrdMas.SuppNo,SuppOrdMas.SuppFyr,  SuppOrdStyleDtl.Styleno, SUM(SuppOrdDet.Qty-isNUll(CancelQty,0)) AS OrderQty , isNull(Sum(x.PCs),0) as RecQty,  SuppOrdMas.OrdId,SuppOrdMas.OrdDate,SuppOrdStyleDtl.DelDate,OrderMas.Finyear,OrderMas.Jobno,OrderMas.BuyordNo,Ordermas.completed,Exportername,Mas_Buyer.ShortBuyer as BuyerName, Mas_Merchandiser.MerchName, Mas_Party.Pname, SuppOrdDet.rate, ordermas.Fcy,Mas_Fcy.ExchangeRate  , (SUM(SuppOrdDet.Qty-isNUll(CancelQty,0))-  isNull(Sum(x.PCs),0)) *OrderStyleDtl.SaleRate as Ordervalue ,SUM(SuppOrdDet.Qty) AS Qty , SUM(SuppOrdDet.Qty-isNUll(CancelQty,0)) *OrderStyleDtl.SaleRate as SaleRate1 ,OrderStyleDtl.StyleQty,Case When isnull(OrderStyleDtl.SaleRate,0)=0 Then Y.SaleRate1 Else isnull(OrderStyleDtl.SaleRate,0) End as OrdSaleRate   From SuppOrdMas INNER JOIN SuppOrdStyleDtl ON SuppOrdMas.SuppOrdId = SuppOrdStyleDtl.SuppOrdId   INNER JOIN SuppOrdDet ON SuppOrdStyleDtl.SuppOrdId = SuppOrdDet.SuppOrdId And SuppOrdStyleDtl.Styleno = SuppOrdDet.StyleNo  INNER JOIN OrderMas ON SuppOrdMas.Ordid = OrderMas.Ordid  INNER JOIN Mas_exporter ON SuppOrdMas.Expid=Mas_exporter.Expid  INNER JOIN Mas_Party ON SuppOrdMas.PId = Mas_Party.PID  INNER JOIN Mas_Buyer ON OrderMas.BuyerID = Mas_Buyer.BuyerID INNER JOIN Mas_Merchandiser ON OrderMas.MerchID = Mas_Merchandiser.MerchID inner join OrderStyleDtl on OrderStyleDtl.OrdID=SuppOrdMas.ordid  and  SuppOrdStyleDtl.Styleno = OrderStyleDtl.StyleNo  LEFT JOIN  (Select SuppORdid,Styleno,ColID,sizid,Sum(RecPcs) as Pcs From Trs_PcsGrn1 A INNER JOIN Trs_PcsGrn2 B ON A.Id = B.ID Where GrnType =''Supplier Order Receipt'' Group by SuppOrdID,Styleno,ColID,sizid) X ON SuppOrdStyleDtl.SuppOrdId = X.SuppOrdId And SuppOrdStyleDtl.Styleno = X.StyleNo and SuppOrdDet.ClrId = X.ColID And SuppOrdDet.SizeId = x.SizID  Left Join (Select Avg(Salerate) As SaleRate1,OrdID,StyleNo,ColID,Partid,SizeId from OrderQtyDtl Group by OrdID,StyleNo,ColID,Partid,SizeId)Y On Y.Ordid=SuppOrdmas.Ordid And Y.styleno=SuppOrdStyleDtl.styleno And Y.Colid=SuppOrddet.ClrId And Y.SizeId=SuppOrdDet.SizeId inner join mas_fcy on ordermas.fcy= mas_fcy.ID WHERE SuppOrdMas.EXPID=@Coycode and ordermas.completed=@CompFlg' if (@FromDate)<>'' Begin Set @SQLSTR=@SQLSTR+N' AND SuppOrdStyleDtl.DelDate >= @FromDate' End if (@ToDate)<>'' Begin Set @SQLSTR=@SQLSTR+N' AND SuppOrdStyleDtl.DelDate <=@ToDate' End if (@FromDate)='' AND (@ToDate)=''
 Begin Set @SQLSTR=@SQLSTR+N' ' End if len(RTRIM(@BuyerId))>0 begin Set @SQLSTR=@SQLSTR+N' AND ordermas.buyerid in (Select ID From fnSplitter(@BuyerId))' End if len(RTRIM(@MerchId))>0 begin Set @SQLSTR=@SQLSTR+N' AND  SuppOrdMas.PId in (Select ID From fnSplitter(@MerchId))' End if RTRIM(@OrderType)<>'' begin Set @SQLSTR=@SQLSTR+N' AND ordermas.OrderType  =@OrderType' End  if len(RTRIM(@Suppno))>0 begin Set @SQLSTR=@SQLSTR+N' AND  SuppOrdMas.SuppOrdid in (Select ID From fnSplitter(@Suppno))' end  if len(RTRIM(@ordId))>0 begin Set @SQLSTR=@SQLSTR+N' AND  SuppOrdMas.OrdId in (Select ID From fnSplitter(@ordId))' end  Begin Set @SQLSTR=@SQLSTR+N' group by SuppOrdMas.ExpID ,SuppOrdMas.PID,SuppOrdMas.SuppOrdId,SuppOrdMas.SuppNo,SuppOrdMas.SuppFyr,  SuppOrdStyleDtl.Styleno, SuppOrdMas.OrdId, SuppOrdMas.OrdDate, SuppOrdStyleDtl.DelDate,OrderMas.Finyear,OrderMas.Jobno, OrderMas.BuyordNo, ordermas.completed, Exportername, Mas_Buyer.ShortBuyer, Mas_Merchandiser.MerchName, Mas_Party.Pname, Rate, ordermas.Fcy, Mas_Fcy.ExchangeRate, OrderStyleDtl.SaleRate, OrderStyleDtl.StyleQty, Y.SaleRate1  '  end  EXEC SP_EXECUTESQL @SQLSTR,N'@Coycode int,@CompFlg Char(1),@FromDate datetime,@Todate datetime,@BuyerId Nvarchar(4000),@MerchId Nvarchar(4000),@ordId Nvarchar(4000),@Suppno Nvarchar(4000),@OrderType  Nvarchar(7) ,@Finyear Char(2)', @coycode=@Coycode,@CompFlg=@CompFlg,@FromDate=@Fromdate,@Todate=@Todate,@BuyerId=@BuyerId,@MerchId=@MerchId,@ordid=@ordid, @Suppno=@Suppno,@OrderType=@OrderType, @Finyear=@Finyear end 