 /*                  
;==============================================================                  
; Author  :  Global Software's                  
; Create date  :  04/JUL/2022                  
; Create By  :  ASLAM                  
; Description  :  Stored Procedure for OVERALL STOCK REPORT 
; Change Person  :  ASLAM                
; Last Change Date : 15/Apr/2024 10.25 AM                  
; =============================================================   */ 

CREATE PROCEDURE Sp_StockRpt(@Y_F_A Char(1), @OrderType Char(10),@Status char(2),@Coycode int ,@deptID int,@ipAddress as Varchar(30),@Ordid int,@GrpID int) AS  
BEGIN
DECLARE @Semi as Char(1)
DECLARE @SQLSTR AS NVARCHAR(4000) 

if @Y_F_A ='Y' 
BEGIN
Set @SQLSTR =N'INSERT INTO Temp_StkReports (stockid,ExporterName,Ordid,BuyerOrdNo,DeptName,CountName,Color,Mill,StkBg,StkKgs,StkMtr,Lotno,rate,GodownName,deptid,cntid,colid,IPAddress,StkGrpID)
	SELECT CurrentStock.StockId,Mas_Exporter.ExporterName, OrderMas.OrdId, OrderMas.BuyOrdNo, Mas_Dept.Deptname, Mas_Count.CountName, Mas_Color.ColorDesc, Mas_Mill.Mill, SUM(CurrentStock.Bg) AS StkBg, SUM(CurrentStock.Kg) AS StkKg, SUM(CurrentStock.Mt) AS StkMtr,stocktable.LotNo
,isnull(StockTable.Rate,0) as Rate, Mas_Godown.GodName, StockTable.dept ,StockTable.cntid ,StockTable.colid,@ipAddress,@GrpID  FROM CurrentStock INNER JOIN StockTable ON CurrentStock.StockID = StockTable.StockID INNER JOIN Mas_Exporter ON StockTable.Coycode = Mas_Exporter.ExpID INNER JOIN Mas_Count ON StockTable.CntID = Mas_Count.CountID LEFT OUTER JOIN Mas_Mill ON StockTable.MillID = Mas_Mill.MillID INNER JOIN Mas_Dept ON StockTable.Dept = Mas_Dept.DeptID INNER JOIN OrderMas ON StockTable.OrdID = OrderMas.OrdId
 AND OrderMas.OrdId = CurrentStock.OrdID INNER JOIN Mas_Godown ON CurrentStock.GodID = Mas_Godown.GodID LEFT OUTER JOIN Mas_Color ON StockTable.ColID = Mas_Color.ColID  INNER JOIN Mas_YarncountGroups Group1 ON Mas_Count.CountGrpid = Group1.ID Where  StockTable.Coycode=@Coycode   and StockTable.YF=@Y_F_A AND StockTable.Dept in (@deptID) ' if (@Status)<>'' Begin Set @SQLSTR=@SQLSTR+N'
 	and Ordermas.completed=@Status ' End if (@OrderType) <>'' Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.OrderType=@OrderType' End  
	 if (@Ordid)>0 Begin Set @SQLSTR=@SQLSTR+N'
 	and Ordermas.ORdid=@Ordid ' End
		Set @SQLSTR=@SQLSTR+N' GROUP BY CurrentStock.StockId,Mas_Exporter.ExporterName, OrderMas.OrdId, OrderMas.BuyOrdNo, Mas_Dept.Deptname, Mas_Count.CountName, Mas_Color.ColorDesc, Mas_Mill.Mill,Mas_Godown.GodName,isnull(StockTable.Rate,0),Stocktable.LotNo,  
StockTable.cntid ,StockTable.colid, StockTable.dept,Group1.Groupname HAVING ((SUM(CurrentStock.Kg) > 0) OR (SUM(CurrentStock.Mt) > 0))'



	Exec SP_EXECUTESQL @SQLSTR,N'@Y_F_A Char(1), @OrderType Char(10),@Status int,@Coycode int ,@deptID int,@ipAddress Varchar(30),@ORdid int,@GrpId int',

	@Y_F_A=@Y_F_A ,@OrderType= @OrderType,@Status=@Status,@Coycode=@Coycode,@deptID=@deptID,@ipAddress=@ipAddress , @Ordid = @ORdid ,@grpId = @GrpID

END


IF @Y_F_A ='F'
BEGIN
	Set @SQLSTR =N'INSERT INTO Temp_StkReports (StockId,ExporterName,Ordid,BuyerOrdNo,DeptName,CountName,Color,StkBg,StkKgs,StkMtr,Fabric,Dia,GSM,GG,LL,UOM,Lotno,DeptSno,rate,GodownName,designdesc,
	deptid,fabid,cntid,colid,designid,FinGSM,SubProcess,IPAddress,StkGrpID) SELECT

     CurrentStock.StockId,Mas_Exporter.ExporterName, OrderMas.OrdId, OrderMas.BuyOrdNo, Mas_Dept.Deptname, Mas_Count.CountName, Mas_Color.ColorDesc, SUM(CurrentStock.Bg) AS StkBg, SUM(CurrentStock.Kg) AS StkKg, SUM(CurrentStock.Mt) AS StkMtr, Mas_Fabric.Fabdesc, Mas_Dia.Dia, 

StockTable.Gsm, StockTable.GG,StockTable.ll, Mas_Uom.Uom,StockTable.LotNo, Mas_Dept.OrderSno,   ISNULL(StockTable.Rate, 0) AS Rate, Mas_Godown.GodName, Mas_Design.DesignDesc,Stocktable.dept,stocktable.fabid,stocktable.cntid,stocktable.colid,stocktable.Print_designid,StockTable.Fingsm,

Mas_SubProcess.SubProcess,@ipAddress,@GrpId FROM  CurrentStock INNER JOIN StockTable ON CurrentStock.StockID = StockTable.StockID AND CurrentStock.OrdID = StockTable.OrdID INNER JOIN Mas_Exporter ON StockTable.Coycode = Mas_Exporter

.ExpID INNER JOIN Mas_Dept ON StockTable.Dept = Mas_Dept.DeptID INNER JOIN OrderMas ON StockTable.OrdID = OrderMas.OrdId INNER JOIN Mas_Fabric ON StockTable.FabID = Mas_Fabric.FabID INNER JOIN Mas_Dia ON StockTable.DiaID = Mas_Dia.DiaID INNER JOIN Mas_Godown ON CurrentStock.GodID = Mas_Godown.GodID LEFT OUTER JOIN Mas_Design ON StockTable.PRINT_DESIGNID = Mas_Design.DesignId LEFT OUTER JOIN Mas_Uom ON Mas_Fabric.PriUomID = Mas_Uom.UomID LEFT OUTER JOIN Mas_Count ON StockTable.CntID = Mas_Count.CountID LEFT OUTER JOIN Mas_Color ON StockTable.ColID = Mas_Color.ColID LEFT JOIN Mas_SubProcess ON StockTable.SubPrsID = Mas_SubProcess.ID 



	WHERE  StockTable.Coycode=@Coycode   and StockTable.YF=@Y_F_A and StockTable.Dept in (@deptID) ' if (@Status)<>'' Begin Set @SQLSTR=@SQLSTR+N'	and Ordermas.completed=@Status ' end if (@OrderType) <>'' Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.OrderType=@OrderType ' End   
	if (@Ordid)>0 Begin Set @SQLSTR=@SQLSTR+N'  	and Ordermas.ORdid=@Ordid ' End

	Set @SQLSTR=@SQLSTR+N' GROUP BY CurrentStock.StockId,Mas_Exporter.ExporterName, OrderMas.OrdId, OrderMas.BuyOrdNo, Mas_Dept.Deptname, Mas_Count.CountName, Mas_Color.ColorDesc, Mas_Fabric.Fabdesc, Mas_Dia.Dia, StockTable.Gsm, StockTable.GG, StockTable.ll, Mas_Uom.Uom, StockTable.LotNo, Mas_Dept.OrderSno, ISNULL(StockTable.Rate, 0), Mas_Godown.GodName,Mas_Design.DesignDesc,CurrentStock.stockid ,stocktable.dept,stocktable.fabid,stocktable.colid,stocktable.cntid,stocktable.Print_designid,StockTable.Fingsm ,StockTable.SubPrsId,Mas_SubProcess.SubProcess HAVING (SUM(CurrentStock.Kg) > 0) OR (SUM(CurrentStock.Mt) > 0) 'Exec SP_EXECUTESQL @SQLSTR,N'@Y_F_A Char(1), @OrderType Char(10),@Status int,@Coycode int ,@deptID int,@ipAddress Varchar(30),@Ordid int,@GrpId int',@Y_F_A=@Y_F_A ,@OrderType= @OrderType,@Status=@Status,@Coycode=@Coycode,@deptID=@deptID,@ipAddress=@ipAddress,@Ordid = @Ordid
,@GrpId = @GrpId

END



IF @Y_F_A='A' 

BEGIN

Set @SQLSTR =N'

Insert into TempAccStock  (Coyname,OrdId,AccDescr,Accdescription,AccColor,AccSize,Accszslno,Qty,UOM,Rate,StyleNo,GodName,atype,ades,siz,colid,StockId,coycode,StkGrpID) SELECT Mas_Exporter.ExporterName,  OrderMas.OrdId, Mas_Acc.Acc_Descr,Mas_AccDes.AccDescription, 
ISNULL(Mas_Color.ColorDesc, '''') AS ColorDesc,ISNULL(Mas_Size.SizeDesc, '''') AS SizeDesc,ISNULL(OrdSizeMas.SNo, 0) AS Sno,  SUM(isnull(CurrentStock.Kg,0)) as KG , Mas_Uom.Uom, null as rate,CurrentStock.StyleNo, Mas_Godown.GodName,StockTable.Atype, StockTable.Ades,  StockTable.Siz , StockTable.ColID,StockTable.Stockid,Mas_Exporter.Expid,@GrpID FROM Mas_Godown INNER JOIN Mas_Acc INNER JOIN StockTable INNER JOIN CurrentStock ON StockTable.StockID = CurrentStock.StockID INNER JOIN OrderMas ON StockTable.OrdID = OrderMas.OrdId INNER JOIN Mas_Exporter ON StockTable.Coycode = Mas_Exporter.ExpID ON Mas_Acc.ID = StockTable.Atype ON  Mas_Godown.GodID = CurrentStock.GodID 
INNER JOIN Mas_AccCategory ON Mas_Acc.catID = Mas_AccCategory.CatID
LEFT OUTER JOIN Mas_Uom ON Mas_Acc.UomId = Mas_Uom.UomID LEFT OUTER JOIN Mas_Color ON StockTable.ColID = Mas_Color.ColID LEFT OUTER JOIN Mas_AccDes ON Mas_Acc.ID = Mas_AccDes.AccTypeID AND StockTable.Ades = Mas_AccDes.ID LEFT OUTER JOIN Mas_Size ON StockTable.Siz = Mas_Size.SizeID LEFT OUTER JOIN  dbo.Vue_AccRetAck ON dbo.StockTable.StockID = dbo.Vue_AccRetAck.StockId and Currentstock.StyleNo = Vue_AccRetAck.Styleno LEFT OUTER JOIN OrdSizeMas ON StockTable.OrdID = OrdSizeMas.OrdID AND StockTable.Siz = OrdSizeMas.SizeID and OrdSizeMas.StyleNo=Currentstock.styleno  

 WHERE (StockTable.YF = @Y_F_A) and  Mas_Exporter.ExpId=@Coycode AND Mas_Acc.catID=@DeptId ' if (@Status)<>'' Begin Set @SQLSTR=@SQLSTR+N'	and Ordermas.completed=@Status ' end if (@OrderType) <>'' Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.OrderType=@OrderType ' End   

 if (@Ordid)>0 Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.ORdid=@Ordid ' End

 Set @SQLSTR=@SQLSTR+N' GROUP BY Mas_Exporter.ExporterName, OrderMas.OrdId, OrderMas.Finyear, OrderMas.BuyOrdNo, OrderMas.Jobno,  Mas_Acc.Acc_Descr, Mas_AccDes.AccDescription, Mas_Color.ColorDesc, Mas_Size.SizeDesc, OrdSizeMas.SNo, Mas_Uom.Uom
 , StockTable.StockID, StockTable.Atype, StockTable.Ades, StockTable.Siz, StockTable.ColID, OrderMas.Completed, Mas_Godown.GodName, CurrentStock.StyleNo,Mas_Exporter.ExpId HAVING (SUM(CurrentStock.Kg) > 0) '

  print @sqlstr

   Exec SP_EXECUTESQL @SQLSTR,N'@Y_F_A Char(1), @OrderType Char(10),@Status int,@Coycode int ,@deptID int,@ipAddress Varchar(30),@Ordid int,@GrpID int ',@Y_F_A=@Y_F_A ,@OrderType= @OrderType,@Status=@Status,@Coycode=@Coycode,@deptID=@deptID,@ipAddress=@ipAddress,@Ordid = @Ordid,@GrpId = @GrpId



update Tmp set Tmp.rate= opening.rate from (select avg(rate) as rate ,stockid,coycode,styleno,ordid from Trs_Opening   group by stockid,ordid ,coycode,styleno ) opening INNER JOIN TempAccStock Tmp ON Opening.Ordid = Tmp.Ordid and Opening.styleno = Tmp.styleno  
and Opening.Stockid = Tmp.stockId and opening.coycode = tmp.coycode where tmp.rate is null And Tmp.StkGrpID = @GrpID

update Tmp set Tmp.rate= Po.rate from (select ordid,styleno,Atype,ades,clr,Siz ,Avg(rate) as rate from Trs_PO5  group by ordid,styleno,Atype,ades,clr,Siz ) Po INNER JOIN TempAccStock Tmp ON Po.Ordid = Tmp.Ordid and Po.styleno = Tmp.styleno  and Po.atype= 
Tmp.atype   and Po.ades= Tmp.ades  and Po.Clr= Tmp.colid  and Po.Siz= Tmp.siz  where tmp.rate is null and tmp.StkGrpID = @GrpID


update Tmp set Tmp.rate= Po.rate from (select ordid,styleno,Atype,ades,clr,Siz ,Avg(rate) as rate from Trs_PO5  group by ordid,styleno,Atype,ades,clr,Siz ) Po INNER JOIN TempAccStock Tmp ON Po.Ordid = Tmp.Ordid and Po.styleno = Tmp.styleno  and Po.atype= 
Tmp.atype   and Po.ades= Tmp.ades   and Po.Siz= Tmp.siz  where tmp.rate is null And Tmp.StkGrpId = @GrpID


Update Tmp set Rate  = Trans.rate from (select coycode,TranOrdid as Ordid,trs_del2.TranStyleNo as styleno,isnull(Avg(trs_del2.Rate),0) as rate,Tranid as stockid,IsNull(Tocoycode,0) as Tocoycode from trs_del1 inner join trs_del2 on trs_del1.id=trs_del2.id 


 where trtype=8 group by coycode,TranOrdid ,trs_del2.TranStyleNo,Tranid,IsNull(Tocoycode,0)) Trans  INNER JOIN TempAccStock Tmp ON Trans.Ordid = Tmp.Ordid and Trans.styleno = Tmp.styleno  and Trans.Stockid = Tmp.stockId and Trans.Tocoycode = tmp.coycode where tmp.rate is null and Tmp.StkGrpID = @GrpID 

 

update Tmp set Tmp.rate= Po.rate from (select Po.Atype,Po.ades,Po.clr ,Avg(Po.rate) as rate,Po.ordid,StyleNo,Siz from (select Atype,ades,clr ,case when isnull(trs_po1.Fcy,0)>0 then rate * isnull(ExchangeRate,0) else rate end as rate ,Trs_PO5.ordid,StyleNo,Siz from Trs_PO5 inner join trs_po1 on Trs_Po1.id=trs_po5.id Inner join Ordermas On OrderMas.Ordid=Trs_Po5.Ordid) Po  group by Po.Atype,Po.ades,Po.clr ,Po.Ordid,StyleNo,Siz ) Po INNER JOIN TempAccStock Tmp ON Po.Ordid = Tmp.Ordid and Po.styleno = Tmp.styleno  and Po.atype= Tmp.atype   and Po.ades= Tmp.ades   and Po.Siz= Tmp.siz  where (tmp.rate is null or tmp.rate >0) and Tmp.StkGrpId = @GrpID


END

SELECT @Semi = ISNULL(SEMIFINISH,'S') From Mas_Dept WHERE DeptID = @deptID


IF @Semi ='S'
BEGIN

Set @SQLSTR =N'INSERT INTO Temp_PceReg (Coycode,Coyname,OrdId,BuyOrdNo,DeptName,StyleDesc,styleno,GodName,StockPcs,DeptID,StkGrpID)

	SELECT   Mas_Exporter.ExpID,Mas_Exporter.ExporterName,OrderMas.OrdId, OrderMas.BuyOrdNo,WorkComplDet,'''' as StyleDesc, Vue_PcsStockAbs.StyleNo,    Mas_Godown.GodName,Sum(Stockqty) as StkPcs,Vue_PcsStockAbs.stageid as Dept,@GrpID FROM  Pcs_StockTable AS  Vue_PcsStockAbs inner join Pcs_StockTableQty on Vue_PcsStockAbs.PcsStockId=Pcs_StockTableQty.PcsStockId INNER JOIN Mas_Exporter ON Vue_PcsStockAbs.Coycode = Mas_Exporter.ExpID INNER JOIN Mas_Color ON Pcs_StockTableQty.ColID = Mas_Color.ColID  INNER JOIN OrderMas ON Vue_PcsStockAbs.ordid = OrderMas.OrdId INNER JOIN Mas_Godown ON Vue_PcsStockAbs.GodID = Mas_Godown.GodID LEFT OUTER JOIN Mas_Part ON Vue_PcsStockAbs.PartID = Mas_Part.PartID  inner join Mas_JobWrkComp on Vue_PcsStockAbs.StageId = Mas_JobWrkComp.Id INNER JOIN Mas_Dept ON Mas_Dept.DeptID = Mas_JobWrkComp.DeptId WHERE    Mas_Dept.SemiFinish=''S'' And PartyId=0 and PcsType=''Piece''
	And Mas_Exporter.ExpId=@Coycode AND Mas_Dept.DeptID = @DeptID ' if (@Status)<>'' Begin Set @SQLSTR=@SQLSTR+N'	and Ordermas.completed=@Status ' end if (@OrderType) <>'' Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.OrderType=@OrderType ' End   
if (@Ordid)>0 Begin Set @SQLSTR=@SQLSTR+N' 	and Ordermas.ORdid=@Ordid ' End

Set @SQLSTR=@SQLSTR+N' GROUP BY Mas_Exporter.ExpID,Mas_Exporter.ExporterName,Vue_PcsStockAbs.stageid,Vue_PcsStockAbs.StyleNo, OrderMas.OrdId, OrderMas.BuyOrdNo, Mas_Godown.GodName,WorkComplDet ORDER BY OrderMas.OrdId' Exec SP_EXECUTESQL @SQLSTR,N'@Y_F_A Char(1), @OrderType Char(10),@Status int,@Coycode int ,@deptID int,@ipAddress Varchar(30),@Ordid int,@GrpID int',@Y_F_A=@Y_F_A ,@OrderType= @OrderType,@Status=@Status,@Coycode=@Coycode,@deptID=@deptID,@ipAddress=@ipAddress,@Ordid = @ORdid 
,@GrpId = @GrpId


END 


ELSE

BEGIN

	Set @SQLSTR =N'INSERT INTO Temp_PceReg (Coycode,Coyname,OrdId,BuyOrdNo,DeptName,StyleDesc,styleno,GodName,StockPcs,DeptID,StkGrpID)

	SELECT DISTINCT   Mas_Exporter.ExpID,Mas_Exporter.ExporterName,OrderMas.OrdId, OrderMas.BuyOrdNo,WorkComplDet,'''' as StyleDesc, Vue_PcsStockAbs.StyleNo,    Mas_Godown.GodName,Sum(Stockqty) as StkPcs,Vue_PcsStockAbs.stageid as Dept,@GrpID FROM         Pcs_StockTable as  Vue_PcsStockAbs INNER JOIN Pcs_StockTableQty ON Vue_PcsStockAbs.PcsStockId = Pcs_StockTableQty.PcsStockId INNER JOIN Mas_Exporter ON Vue_PcsStockAbs.Coycode = Mas_Exporter.ExpID INNER JOIN Mas_Color ON Pcs_StockTableQty.ColID = Mas_Color.ColID INNER JOIN OrderMas ON Vue_PcsStockAbs.Ordid = OrderMas.OrdId INNER JOIN Mas_Godown ON Vue_PcsStockAbs.GodID = Mas_Godown.GodID LEFT OUTER JOIN Mas_Part ON Vue_PcsStockAbs.PartID = Mas_Part.PartID  INNER JOIN Mas_JobWrkComp ON Vue_PcsStockAbs.StageId = Mas_JobWrkComp.ID INNER JOIN Mas_Dept ON Mas_Dept.DeptID = Mas_JobWrkComp.deptID  WHERE Mas_Dept.SemiFinish=''F'' And PartyId=0 and PcsType=''Piece''
		And Mas_Exporter.ExpId=@Coycode AND Mas_Dept.DeptID = @DeptID ' if (@Status)<>'' Begin Set @SQLSTR=@SQLSTR+N'	and Ordermas.completed=@Status ' end if (@OrderType) <>'' Begin Set @SQLSTR=@SQLSTR+N' and Ordermas.OrderType=@OrderType ' End  
		if (@Ordid)>0 Begin Set @SQLSTR=@SQLSTR+N' 	and Ordermas.ORdid=@Ordid ' End
		 Set @SQLSTR=@SQLSTR+N' GROUP BY Mas_Exporter.ExpID,Mas_Exporter.ExporterName, Vue_PcsStockAbs.StageID,  Vue_PcsStockAbs.StyleNo, OrderMas.OrdId, OrderMas.BuyOrdNo,  Mas_Godown.GodName,WorkComplDet ORDER BY OrderMas.OrdId' 


	Exec SP_EXECUTESQL @SQLSTR,N'@Y_F_A Char(1), @OrderType Char(10),@Status int,@Coycode int ,@deptID int,@ipAddress Varchar(30),@Ordid int,@GrpID int',@Y_F_A=@Y_F_A ,@OrderType= @OrderType,@Status=@Status,@Coycode=@Coycode,@deptID=@deptID,@ipAddress=@ipAddress,@Ordid = @Ordid ,@GrpId = @GrpId

END 

END
