<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Fiberpro.My.MySettings.JOMSConnectionString1" connectionString="Data Source=Machine-16;Initial Catalog=prachi"
      providerName="System.Data.SqlClient" />
    <add name="Fiberpro.My.MySettings.JOMSConnectionString2" connectionString="Data Source=Machine-16;Initial Catalog=prachi;Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="Fiberpro.My.MySettings.JOMSConnectionString3" connectionString="Data Source=Machine-16;Initial Catalog=JOMS;Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="Fiberpro.My.MySettings.JomsConnectionString" connectionString="Data Source=Machine-16;Initial Catalog=prachi"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <appSettings>     
    <add key="connectstring"  value="Initial catalog=Fiberpro_baalaji;timeout=10000;Data Source=ACCOUNTS"/>
    <add key="connectstring1"  value="Initial catalog=GsMail;timeout=10000;Data Source=MAchine-14"/>
    <add key="Cust_Code" value='298'/>
    <add key="RepDB" value="Fiberpro_baalaji"/>
    <add key="ProductionDB" value="testAslam"/>
    <add key="Support" value="S"/>
    <add key="SMTPUserName" value="-" />
    <add key="SMTPPassWord" value="" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPSSL" value="True" />
    <add key="SMTPHost" value="-" />
    <add key="FromEmailId" value="-" />
  </appSettings>
</configuration>





